//
    Created by heavenduke on 15-5-23.
    title --网页标题
    problem -- 题目数据
        title --题目标题
        description --题目描述，是一个HTML
        test_setting --题目评测设置
            time_limit -- 时间限制（无单位整数，默认为ms）
            memory_limit -- 内存限制（无单位整数，默认为MB）
            special_judge -- 是否为special judge（布尔值，true为有）
            language --支持语言，是一个数组，每一项为一种语言
extends ../layout
block title
    - var whichPage = "题目信息"
    - if(contest)
        - whichPage = "比赛题目信息"
    title #{whichPage}
    link(rel='stylesheet', href='/stylesheets/problem/detail.css')
block content
    //.col-lg-2
    //.col-lg-8
    include ../contest/contest-title.jade
    include porblem-list.jade
    .col-lg-2.col-md-2.col-sm-2
        include contest.jade
    .col-lg-8.col-md-8.col-sm-8
        .markdown-body.containing
            h1.problem-title #{problem.title}
            //h3 Test Setting
            .problem-limit 时间限制: #{problem.test_setting.time_limit} ms 内存限制: #{problem.test_setting.memory_limit} kb
            .problem-limit 总通过人数: #{problem.acceptedPeopleCount} 总提交人数: #{problem.triedPeopleCount}
            //li Special Judge: #{problem.test_setting.special_judge}
            - if (problem.test_setting.special_judge)
                .special-judge Special Judge
            !{problem.description}

    //    form(method='post', action='./' + problem.problem_id + '/submit')
            label Your Code：
            select(type="input", name='lang' value='C')
                option(value="c++") c++
                option(value="c") c
            br
            textarea(type="input", name='code')
            br
            button(type="submit") 提交
    .col-lg-2.col-md-2.col-sm-2
        .containing
            include problem.jade