//-
   Created by heavenduke on 15-5-23

extends ../layout
block title
    - var whichPage = "题目列表"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var level = 0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        h3 所有题目
        table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;")
            //-tr
                td.col-lg-1 题目ID
                td.col-lg-2 所属小组
                td.col-lg-6 题目名称
                td.col-lg-1 难度
                td.col-lg-2 通过率(通过/提交)
            tr.problem-title-tr.text-center
                if(user)
                    td 状态
                td 题目ID
                td 题目标题
                td 所属小组
                //-td 难度
                td 通过人数 / 提交人数
                //-td 通过 / 提交
            if(problems)
                - for (var i = 0 ; i < problems.length ; ++i)
                    - if(i % 2 == 1)
                        - oddEvenTable = "odd"
                    - else
                        - oddEvenTable = "even"
                    - var problem = problems[i];
                    tr.text-center(id = "tr" + i)
                        if(user)
                            - if(problem.accepted + problem.tried == 2)
                                td.green-td
                                    span.glyphicon.glyphicon-ok(aria-hidden="true")
                            - else if(problem.accepted + problem.tried == 1)
                                td.yellow-td
                                    span.glyphicon.glyphicon-warning-sign(aria-hidden="true")
                            - else
                                td
                        td
                            a(href= problem.id + "/index") #{problem.id}
                        td
                            a(href= problem.id + "/index") #{problem.title}
                        td
                            a(href= "../group/" + problem.group.id + "/index") #{problem.group.name}
                        //-td.progress
                        //-    - level = i*(i*(i*(i+1)+1)+problem.id)%101;
                        //-    - if (level < 10) level = 10;
                        //-    - if (level < 50)
                        //-        .progress-bar.progress-bar-success.active.progress-bar-striped(style="width: " + level + "%")
                        //-            span.sr-only #{level}% Complete (success)
                        //-    - else if (level < 80)
                        //-        .progress-bar.progress-bar-warning.active.progress-bar-striped(style="width: " + level + "%")
                        //-            span.sr-only #{level}% Complete (warning)
                        //-    - else
                        //-        .progress-bar.progress-bar-danger.active.progress-bar-striped(style="width: " + level + "%")
                        //-            span.sr-only #{level}% Complete (danger)
                        //-    //-script.
                        //-        .progress-bar.progress-bar-success.active.progress-bar-striped(style='width: 50%')
                        //-            span.sr-only 50% Complete (success)
                        //-        .progress-bar.progress-bar-warning.active.progress-bar-striped(style='width: 30%')
                        //-            span.sr-only 30% Complete (warning)
                        //-        .progress-bar.progress-bar-danger.active.progress-bar-striped(style='width: 20%')
                        //-            span.sr-only 20% Complete (danger)
                        td #{problem.acceptedPeopleCount} / #{problem.triedPeopleCount}
                        //-td #{problem.accepted} / #{problem.tried}
                        script $("#tr#{i}").attr("class", "#{oddEvenTable}whitetr");
    //-.col-lg-2
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        - if(!pageLimit)
            - pageLimit = 15;
        - if(!page)
            - page = 0;
        - var numberOfPage = (problemCount - problemCount % pageLimit) / pageLimit + 1;
        - var nextPage = page - 0 + 1;
        - var prevPage = page - 1;
        - if(page > 1)
            a.button.btn.btn-default(href="./index?page=" + prevPage) 上一页
        - else
            a.button.btn.btn-default(href="./index?page=" + prevPage, disabled="disabled") 上一页
        - for(var i = 1 ; i <= numberOfPage ; ++i)
            a.button.btn.btn-default(href="./index?page=" + i, id="button" + i) #{i}
        - if(page < numberOfPage)
            a.button.btn.btn-default(href="./index?page=" + nextPage) 下一页
        - else
            a.button.btn.btn-default(href="./index?page=" + nextPage, disabled="disabled") 下一页
        script $("#button#{page}").attr("class", "button btn btn-success");