//
   Created by heavenduke on 15-5-23.
   title -- 网页标题
   submissions --提交记录的数组
   submissions.each:


//
    返回结果
    'WT' = waiting
    'JG' = judging
    'AC' = accepted
    'WA' = wrong answer
    'TLE' = time limit exceed
    'MLE' = memory limit exceed
    'RE' = run time error
    'CE' = compile error
    'PE' = presentation error
extends ../layout
block title
    - var whichPage = "评测记录"
    if(contest)
        - var whichPage = "比赛题目评测记录"
    title #{whichPage}

block content
    - var oddeventable = "odd"
    - var coloroftable = "red"
    - var yy;
    - var mm;
    - var dd;
    - var hh;
    - var mi;
    - var ss;
    - var changeSubmissionResult = {AC : "Accepted", WA : "Wrong Answer", CE : "Compile Error", RE : "Runtime Error", "REG" : "Runtime Error (SIGSEGV)", "REP" : "Runtime Error (SIGFPE)", WT : "Waiting", JG : "Running", TLE : "Time Limit Exceed", MLE : "Memory Limit Exceed", PE : "Presentation Error", ERR : "Judge Error", "IFNR" : "Input File Not Ready", "OFNR" : "Output File Not Ready", "EFNR" : "Error File Not Ready", "OE" : "Other Error"}
    include ../contest/contest-title.jade
    include porblem-list.jade
    .col-lg-2.col-md-2.col-sm-2.containing
        include contest.jade
    .col-lg-8.col-md-8.col-sm-8(style="padding-top:15px")
        if(problem)
            h3 #{problem.title} 的评测记录
        table.table.table-condensed.table-center
            tr
                td 序号
                - if(!contest)
                    td 用户
                td 结果
                td 得分
                td 语言
                td 代码长度
                td 运行时间
                td 运行内存
                td 提交时间
            - if(submissions)
                - for (var i = 0 ;i < submissions.length ; i++)
                    tr(id = "tr" + i)
                        //在渲染前处理时间
                        - yy = submissions[i].created_at.getFullYear();
                        - mm = submissions[i].created_at.getMonth() - 0 + 1;
                        - if(mm<10)
                            - mm="0"+mm;
                        - dd = submissions[i].created_at.getDate();
                        - if(dd<10)
                            - dd="0"+dd;
                        - hh = submissions[i].created_at.getHours();
                        - if(hh<10)
                            - hh="0"+hh;
                        - mi = submissions[i].created_at.getMinutes();
                        - if(mi<10)
                            - mi="0"+mi;
                        - ss = submissions[i].created_at.getSeconds();
                        - if(ss<10)
                            - ss="0"+ss;
                        //生成表格
                        td #{submissions[i].id}
                        - if(!contest)
                            td
                                a(href='../../user/' + submissions[i].creator.id + '/index') #{submissions[i].creator.nickname}
                        td
                            label(id = "td" + i, onmouseover="showDetail(" + i + ")", onmouseout="hideDetail(" + i + ")", data-toggle="popover", data-trigger="focus", data-placement="bottom", data-content=submissions[i].detail) #{changeSubmissionResult[submissions[i].result]}
                        td #{submissions[i].score}
                        td
                            a(href='/submission/' + submissions[i].id, target="_blank") #{submissions[i].lang}
                        td
                            a(href='/submission/' + submissions[i].id, target="_blank") #{submissions[i].code_length}
                        td #{submissions[i].time_cost}
                        td #{submissions[i].memory_cost}
                        td #{yy}-#{mm}-#{dd} #{hh}:#{mi}:#{ss}
                        //td #{submissions[i].created_at.getFullYear()}-#{submissions[i].created_at.getMonth()-0+1}-#{submissions[i].created_at.getDate()} #{submissions[i].created_at.getHours()}:#{submissions[i].created_at.getMinutes()}:#{submissions[i].created_at.getSeconds()}
                        - if(i % 2 == 1)
                            - oddeventable = "odd"
                        - else
                            - oddeventable = "even"
                        - if(submissions[i].result == "AC")
                            - coloroftable = "blue"
                        - else if(submissions[i].result == "WT" || submissions[i].result == "JG")
                            - coloroftable = "green"
                        - else
                            - coloroftable = "red"
                        script.
                            $("#tr#{i}").attr("class","#{oddeventable}#{coloroftable}tr");
                            $("#td#{i}").attr("class","#{coloroftable}td");
                            function showDetail(numi){
                                $("#td"+numi).popover('show');
                            }
                            function hideDetail(numi){
                                $("#td"+numi).popover('hide');
                            }
        //.col-lg-12.col-md-12.col-sm-12
        //    - if(!pageLimit)
        //        - pageLimit = 15;
        //    - if(!offset)
        //        - offset = 0;
        //    - var prevOffset = offset - pageLimit;
        //    - if(prevOffset < 0)
        //        - prevOffset = 0;
        //    - var nextOffset = offset - 0 + pageLimit;
        //    - if(offset>0)
        //        a.button.btn.btn-default(href="./submission?offset=" + prevOffset) 上一页
        //    a.button.btn.btn-default(href="./submission") 首页
        //    - if(submissions.length == pageLimit)
        //        a.button.btn.btn-default(href="./submission?offset=" + nextOffset) 下一页
        .col-lg-12.col-md-12.col-sm-12.text-left
            //分页
            - if(!pageLimit)
                - pageLimit = 15;
            - if(!offset)
                - offset = 0;
            - var prevOffset = offset - pageLimit;
            - if(prevOffset < 0)
                - prevOffset = 0;
            - var nextOffset = offset - 0 + pageLimit;
            - var page_of_this_page = (offset-0+15-offset%15)/15;
            - if(offset%15!=0)
                - page_of_this_page++;
            - if(offset>0)
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset) 上一页
            -else
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset, disabled="disabled") 上一页
            a.button.btn.btn-default(href="./submission") 首页
            - if(page_of_this_page>6)
                |......
            - if(page_of_this_page>5)
                - var prevOffset5 = offset - pageLimit * 5;
                - if(prevOffset5 < 0)
                    - prevOffset5 = 0;
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset5) #{page_of_this_page-5}
            - if(page_of_this_page>4)
                - var prevOffset4 = offset - pageLimit * 4;
                - if(prevOffset4 < 0)
                    - prevOffset4 = 0;
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset4) #{page_of_this_page-4}
            - if(page_of_this_page>3)
                - var prevOffset3 = offset - pageLimit * 3;
                - if(prevOffset3 < 0)
                    - prevOffset3 = 0;
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset3) #{page_of_this_page-3}
            - if(page_of_this_page>2)
                - var prevOffset2 = offset - pageLimit * 2;
                - if(prevOffset2 < 0)
                    - prevOffset2 = 0;
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset2) #{page_of_this_page-2}
            - if(page_of_this_page>1)
                - var prevOffset1 = offset - pageLimit * 1;
                - if(prevOffset1 < 0)
                    - prevOffset1 = 0;
                a.button.btn.btn-default(href="./submission?offset=" + prevOffset1) #{page_of_this_page-1}
            a.button.btn.btn-success(href="./submission?offset=" + offset) #{page_of_this_page}
            - if(submissions.length == pageLimit)
                - var nextOffset1 = offset - 0 + pageLimit * 1;
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset1) #{page_of_this_page+1}
                - var nextOffset2 = offset - 0 + pageLimit * 2;
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset2) #{page_of_this_page+2}
                - var nextOffset3 = offset - 0 + pageLimit * 3;
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset3) #{page_of_this_page+3}
                - var nextOffset4 = offset - 0 + pageLimit * 4;
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset4) #{page_of_this_page+4}
                - var nextOffset5 = offset - 0 + pageLimit * 5;
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset5) #{page_of_this_page+5}
                |......
            - if(submissions.length == pageLimit)
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset) 下一页
            -else
                a.button.btn.btn-default(href="./submission?offset=" + nextOffset, disabled="disabled") 下一页
    .col-lg-2.col-md-2.col-sm-2
        include problem.jade