//
   Created by heavenduke on 15-5-23.
   title -- 网页标题
   submissions --提交记录的数组
   submissions.each:


//
    返回结果
    'WT' = waiting
    'JG' = judging
    'AC' = accepted
    'WA' = wrong answer
    'TLE' = time limit exceed
    'MLE' = memory limit exceed
    'RE' = run time error
    'CE' = compile error
    'PE' = presentation error
extends ../layout
block title
    - var whichPage = "评测记录"
    if(contest)
        - var whichPage = "比赛题目评测记录"
    title #{whichPage}

block content
    - var oddeventable = "odd"
    - var coloroftable = "red"
    - var changeSubmissionResult = {AC : "Accepted", WA : "Wrong Answer", WT : "Waiting", JG : "Running", TLE : "Time Limit Exceed", MLE : "Memory Limit Exceed", RE : "Runtime Error", CE : "Compile Error", PE : "Presentation Error", ERR : "Judge Error"}
    include ../contest/contest-title.jade
    include porblem-list.jade
    .col-lg-2.col-md-2.col-sm-2.containing
        include contest.jade
    .col-lg-8.col-md-8.col-sm-8(style="padding-top:15px")
        if(problem)
            h3 #{problem.title} 的评测记录
        table.table.table-center.containing
            tr
                td 序号
                - if(!contest)
                    td 用户
                td 结果
                td 得分
                td 语言
                td 代码长度(Byte)
                td 运行时间(ms)
                td 运行内存(Kb)
                td 提交时间
            if(submissions)
                - for (var i = 0 ;i < submissions.length ; i++)
                    tr(id = "tr#{i}")
                        td #{submissions[i].id}
                        - if(!contest)
                            td
                                a(href='../../user/' + submissions[i].creator.id + '/index') #{submissions[i].creator.nickname}
                        td
                            label(id = "td#{i}", onmouseover="showDetail(#{i})", onmouseout="hideDetail(#{i})", data-toggle="popover", data-trigger="focus", data-placement="bottom", data-content="#{submissions[i].detail}") #{changeSubmissionResult[submissions[i].result]}
                        td #{submissions[i].score}
                        td
                            a(href='/submission/' + submissions[i].id, target="_blank") #{submissions[i].lang}
                        td
                            a(href='/submission/' + submissions[i].id, target="_blank") #{submissions[i].code_length}
                        td #{submissions[i].time_cost}
                        td #{submissions[i].memory_cost}
                        td #{submissions[i].created_at.getFullYear()}-#{submissions[i].created_at.getMonth()}-#{submissions[i].created_at.getDay()} #{submissions[i].created_at.getHours()}:#{submissions[i].created_at.getMinutes()}:#{submissions[i].created_at.getSeconds()}
                        - if(i % 2 == 1)
                            - oddeventable = "odd"
                        - else
                            - oddeventable = "even"
                        - if(submissions[i].result == "AC")
                            - coloroftable = "blue"
                        - else if(submissions[i].result == "WT" || submissions[i].result == "JG")
                            - coloroftable = "green"
                        - else
                            - coloroftable = "red"
                        script.
                            $("#tr#{i}").attr("class","#{oddeventable}#{coloroftable}tr");
                            $("#td#{i}").attr("class","#{coloroftable}td");
                            function showDetail(numi){
                                $("#td"+numi).popover('show');
                            }
                            function hideDetail(numi){
                                $("#td"+numi).popover('hide');
                            }
    .col-lg-2.col-md-2.col-sm-2
        include problem.jade