//
   Created by 明阳 on 2015/6/4.

extends ../layout
block title
   - var whichPage = "小组比赛"
   title #{whichPage}
block content
   .col-lg-2
      include ./group.jade
   .col-lg-8
      h3 小组题目
      table(class = "table table-striped").containing
         tr
            td 比赛ID
            td 比赛标题
            td 开始时间
            td 结束时间
         - for (var i = 0 ; i < contests.length ; ++i)
            - var contest = contests[i]
            tr
               td #{contest.id}
               td
                  a(href= "/contest/#{contest.id}/index") #{contest.title}
               td #{contest.start_time}
               td #{contest.end_time}
   .col-lg-2