//
   Created by 明阳 on 2015/6/4.
extends ../layout
block title
    - var whichPage = "小组比赛"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var colorOfTable = "red"
    - var contestStatus = "已结束"
    .col-lg-2
        include ./group.jade
    .col-lg-8
        h3 #{group.name}的小组比赛
        table.table.table-condensed.table-center
            tr.text-center
                td 比赛ID
                td 比赛状态
                td 比赛标题
                td 开始时间
                td 结束时间
            if(contests)
                - for (var i = 0 ; i < contests.length ; ++i)
                    - var contest = contests[i]
                    tr.text-center(id = "tr" + i)
                        - if(i % 2 == 1)
                            - oddEvenTable = "odd"
                        - else
                            - oddEvenTable = "even"
                        - if(contest.start_time > (new Date()))
                            - colorOfTable = "blue"
                            - contestStatus = "即将开始"
                        - else if(contest.start_time <= (new Date()) && contest.end_time > (new Date()))
                            - colorOfTable = "red"
                            - contestStatus = "正在进行中…"
                        - else
                            - colorOfTable = "white"
                            - contestStatus = "已结束"
                        td #{contest.id}
                        td
                            label(id = "td" + i) #{contestStatus}
                        td
                            a(href= "/contest/" + contest.id + "/index") #{contest.title}
                        td #{contest.start_time.getFullYear()}-#{contest.start_time.getMonth()+1}-#{contest.start_time.getDate()} #{contest.start_time.getHours()}:#{contest.start_time.getMinutes()}:#{contest.start_time.getSeconds()}
                        td #{contest.end_time.getFullYear()}-#{contest.end_time.getMonth()+1}-#{contest.end_time.getDate()} #{contest.end_time.getHours()}:#{contest.end_time.getMinutes()}:#{contest.end_time.getSeconds()}
                        script.
                            $("#tr#{i}").attr("class", "#{oddEvenTable}whitetr");
                            $("#td#{i}").attr("class", "#{colorOfTable}td");
        - if(!pageLimit)
            - pageLimit = 15;
        - if(!offset)
            - offset = 0;
        - var prevOffset = offset - pageLimit;
        - if(prevOffset < 0)
            - prevOffset = 0;
        - var nextOffset = offset - 0 + pageLimit;
        - if(offset>0)
            a.button.btn.btn-default(href="./contest?offset=" + prevOffset) 上一页
        a.button.btn.btn-default(href="./contest") 首页
        - if(contests.length == pageLimit)
            a.button.btn.btn-default(href="./contest?offset=" + nextOffset) 下一页
    .col-lg-2