//
   Created by zp on 15-5-28.

if(group)
    //第一种
    //table.table.table-striped
    //    tr
    //        td 小组名称
    //    tr
    //        td
    //            a(href="./index")= group.name
    //    //tr
    //        td 小组人数
    //    //tr
    //        td
    //            a(href="./member")= group.users.length
    //    tr
    //        td 小组创建者
    //    tr
    //        td
    //            a(href="/user/#{group.creator.id}/index")= group.creator.nickname


    //第三种
    .list-group
        .form-horizontal
            label.control-label(for="school")  小组名称：
        .form-horizontal
            a(href="./index")
                label.control-label(for="school")  #{group.name}
        br
        .form-horizontal
            label.control-label(for="school")  小组创建者：
        .form-horizontal
            a(href="/user/#{group.creator.id}/index")
                label.control-label(for="school")  #{group.creator.nickname}

    .list-group
        a(class="list-group-item normal-color", id="group-groupindexpage", href="./index") 小组主页
        a(class="list-group-item normal-color", id="group-memberpage", href="./member") 小组成员
        a(class="list-group-item normal-color", id="group-contestpage", href="./contest") 小组比赛
        a(class="list-group-item normal-color", id="group-problempage", href="./problem") 小组题目
        a(class="list-group-item normal-color", id="group-returnpage", href="../index") 返回所有小组
    script.
        if("#{whichPage}"=="小组题目")
            $("#group-problempage").attr("class","list-group-item change-color");
        else if("#{whichPage}"=="小组比赛")
            $("#group-contestpage").attr("class","list-group-item change-color");
        else if("#{whichPage}"=="小组成员")
            $("#group-memberpage").attr("class","list-group-item change-color");
        else
            $("#group-groupindexpage").attr("class","list-group-item change-color");

    //- if ( !isMember )
        a.button.btn.btn-default(href="join") 加入该小组
    //- else
        a.button.btn.btn-default(href="join") 退出该小组
