//-
   Created by zp on 15-5-28.

if(group)
    .list-group
        a(class="list-group-item normal-color", id="group-groupIndexPage", href="./index") 小组主页
        a(class="list-group-item normal-color", id="group-memberPage", href="./member")
            - if(group.users)
                | 小组成员---#{group.users.length}人
            - else
                | 小组成员
        a(class="list-group-item normal-color", id="group-contestPage", href="./contest")
            - if(contestCount)
                | 小组比赛---#{contestCount}场
            - else
                | 小组比赛
        a(class="list-group-item normal-color", id="group-problemPage", href="./problem")
            - if(problemCount)
                | 小组题目---#{problemCount}道
            - else
                | 小组题目
        //-a(class="list-group-item normal-color", id="group-create-problemPage", href="./createProblem") 创建题目
        //-a(class="list-group-item normal-color", id="group-create-contestPage", href="./createContest") 创建比赛
        //-a(class="list-group-item normal-color", id="group-manage", href="./manage/index") 管理小组
        a(class="list-group-item normal-color", id="group-returnPage", href="../index", style="margin-top:20px;") 返回所有小组
        //-- if ( user && !isMember )
            //-a(class="list-group-item normal-color", href="join" ) 申请加入该小组
    script.
        if("#{whichPage}"=="小组题目")
            $("#group-problemPage").attr("class","list-group-item change-color");
        else if("#{whichPage}"=="小组比赛")
            $("#group-contestPage").attr("class","list-group-item change-color");
        else if("#{whichPage}"=="小组成员")
            $("#group-memberPage").attr("class","list-group-item change-color");
        else
            $("#group-groupIndexPage").attr("class","list-group-item change-color");

    //-- if ( !isMember )
        a.button.btn.btn-default(href="join") 加入该小组
    //-- else
        a.button.btn.btn-default(href="join") 退出该小组
