//-
   Created by lmy on 15-5-20.
   groups 小组的列表
      - groups[i] 每一个单独的小组即group
         - group 小组实体
            - name 小组的名字
            - id   小组的ID
            - description 小组的简介
extends ../layout

block title
    - var whichPage = "所有小组"
    title #{whichPage}

block content
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        h3 所有小组
        if(groups)
            table.table.table-condensed.containing.table-center(style="border:1px solid #DDDDDD;margin-top:0;background:#")
                tr.group-title-tr
                    td
                        label 小组名称
                    td
                        label 创建者昵称
                    td
                        label 小组人数
                - for(var i = 0 ; i < groups.length ; ++i)
                    - if(i % 2 == 1)
                        - oddEvenTable = "odd"
                    - else
                        - oddEvenTable = "even"
                    tr(id = "tr" + i)
                        td
                            a(href="/group/" + groups[i].id + "/index")= groups[i].name
                        td
                            a(href="/user/" + groups[i].creator.id + "/index")= groups[i].creator.nickname
                        td
                            if(groups[i].member_count)
                                a(href="/group/" + groups[i].id + "/member")= groups[i].member_count
                        script $("#tr#{i}").attr("class", "#{oddEvenTable}whitetr");
        //-.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-left.row
            a.btn-default.btn-lg(href="/group/create")
                label 申请创建小组