//-
    Created by zp on 15-5-26.
//-extends ../layout
doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="keywords", content="OJ,Online Judge,ACM,BUAA,beihang,评测,教学")
        meta(name="author", content="北航程序设计与算法研究实验室")
        meta(name="generator", content="Ghost 0.5")
        meta(name="renderer", content="webkit")
        meta(name="referrer", content="always")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title 查看代码-#{submission.id}
        script(src="/js/highlight/highlight.pack.js")
        link(rel='stylesheet', href='/stylesheets/highlight/tomorrow.css')
        style.

            code {
                font-family: 'Source Code Pro', Consolas, monospace;font-size: 20px;
            }
            pre {
                border: 1px solid black;
                margin: 0 auto;
                max-width: 960px;
                font-family: 'Source Code Pro', Consolas, monospace;
                font-size: 20px;
                margin-top: 20px;
            }
- var head = "/* \n Author: "+ user.nickname + "\n"+" Result: "+submission.result+"\t"+"Submission_id: "+submission.id+"\n"+" Created at: "+submission.created_at+"\n"+" Problem_id: "+submission.problem_id+"\t"+"Time: "+submission.time_cost+"\t"+"Memory: "+submission.memory_cost+"\n"+"*/\n\n";

body
    pre
        code(class="#{submission.lang}") #{head+submission.submission_code.content}
    script hljs.initHighlightingOnLoad()
    //-script(src="/js/coderender.js")
    //-textarea.form-control.text-left(style=style="resize: none; width: 100%; overflow-y: scroll; overflow-x: hidden; word-wrap: break-word; height: 500px;", data-autosize-on="true", readonly=true, contenteditable=false, id="usercode") #{submission.submission_code.content}
    //-script $("#usercode").focus();