//
    Created by zp on 15-5-26.
extends ../layout
block title
    - var whichPage = "查看代码"
    title #{whichPage}

block content
    script(src="/js/coderender.js")
    textarea.form-control.text-left(style=style="resize: none; width: 100%; overflow-y: scroll; overflow-x: hidden; word-wrap: break-word; height: 500px;", data-autosize-on="true", readonly=true, contenteditable=false, id="usercode") #{submission.submission_code.content}
    script $("#usercode").focus();