html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="keywords", content="OJ,Online Judge,ACM,BUAA,beihang,评测,教学,BUAAOJ,beihangoj,OJ4TH,北航OJ,北航ACM,最好用的OJ,最好用的在线评测系统,编程,学编程,怎么学编程,OJ3rd,北航软件学院")
        meta(name='author', content='北航程序设计与算法研究实验室')
        meta(name='generator', content='Ghost 0.5')
        meta(name='renderer', content='webkit')
        meta(name='referrer', content='always')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/Glyphicons.min.css')
        title OJ4TH
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/autosize.min.js')
        script(src="/js/ga.js")
        //-script(type="text/javascript",src="/js/SJQuery.js")
    body
        #container.container-fluid
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .row
                        nav#navbar.navbar.navbar-default
                            .container-fluid
                                .navbar-header
                                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                        span.sr-only Toggle navigation
                                        span.icon-bar
                                        span.icon-bar
                                        span.icon-bar
                                    a#logo.navbar-brand(href='/index', data-toggle='popover', data-trigger='focus', data-placement='bottom', data-content='') BUAA ONLINE JUDGE
                                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                    ul.nav.navbar-nav.navbar-middle
                                        li.normalli
                                            a(href="/index", id="indexpage", class="nav-before") 主页
                                        li.normalli
                                            a(href="/group/index", id="grouppage", class="nav-before") 课程
                                        li.normalli
                                            a(href="/problem/index", id="problempage", class="nav-before") 题库
                                        li.normalli
                                            a(href="/contest/index", id="contestpage", class="nav-before") 比赛
                                        //-li.normalli
                                            a(href="/submission/index", id="submissionpage", class="nav-before") 评测记录
                                        li.normalli
                                            a(href="/rank/index", id="rankpage", class="nav-before") 排行榜
                                        - if(user)
                                            li.normalli
                                                a(href="/problem/accepted", id="solution", class="nav-before") 写题解
                                            li.normalli
                                                a(href="/user/" + user.id + "/index", id="informationpage", class="nav-before") 个人信息
                                        li.normalli
                                            a(href="/feedback/index", id="feedbackpage", class="nav-before") 反馈
                                        li.normalli
                                            a(href="https://buaacoding.cn/acm-register/", id="bcpc-rating", class="nav-before",target="_blank") 2018ACM集训报名
                                        //-li.normalli
                                            a(href="/bcpc/index.html", id="bcpc", class="nav-before",target="_blank") 2017BCPC

                                    ul.nav.navbar-nav.navbar-right
                                        - if(user)
                                            li.normalli
                                                a(href="/user/" + user.id + "/index") 欢迎，#{user.nickname}
                                            li.normalli
                                                a(href="/user/logout", id="logoutpage", class="nav-before") 登出
                                        - else if(Github && Github!='')
                                            li.normalli
                                                a(href="/user/" + Github + "/index") 欢迎，#{Github}
                                            li.normalli
                                                a(href="/user/logout", id="third_logoutpage", class="nav-before") 登出
                                        - else
                                            li.normalli
                                                a(href="/user/login", id="loginpage", class="nav-before") 登录
                                            li.normalli
                                                a(href="/user/register", id="registerpage", class="nav-before") 注册
                                    - if(whichPage == "注册")
                                        script $("#registerpage").attr("class", "nav-change");
                                    - else if(whichPage == "登录")
                                        script $("#loginpage").attr("class", "nav-change");
                                    - else if(whichPage == "")
                                        script $("#logoutpage").attr("class", "nav-change");
                                    - else if(whichPage == "帮助")
                                        script $("#helppage").attr("class", "nav-change");
                                    - else if(whichPage == "所有评测记录"||whichPage == "查看代码")
                                        script $("#submissionpage").attr("class", "nav-change");
                                    - else if(whichPage == "系统消息")
                                        script $("#messegepage").attr("class", "nav-change");
                                    - else if(whichPage == "个人信息"||whichPage == "修改信息"||whichPage == "修改密码")
                                        script $("#informationpage").attr("class", "nav-change");
                                    - else if(whichPage == "赛事列表"||whichPage == "赛事信息"||whichPage == "比赛题目信息"||whichPage == "比赛题目评测记录"||whichPage == "比赛提交记录"||whichPage == "课程比赛"||whichPage == "比赛排名"||whichPage == "出比赛")
                                        script $("#contestpage").attr("class", "nav-change");
                                    - else if(whichPage == "题目列表"||whichPage == "题目信息"||whichPage == "评测记录"||whichPage == "查看代码"||whichPage == "课程题目"||whichPage == "出题")
                                        script $("#problempage").attr("class", "nav-change");
                                    - else if(whichPage == "申请创建课程"||whichPage == "课程信息"||whichPage == "所有课程"||whichPage == "课程成员"||whichPage == "课程题目"||whichPage == "管理课程"||whichPage == "管理课程成员"||whichPage == "管理课程题目"||whichPage == "管理课程比赛")
                                        script $("#grouppage").attr("class", "nav-change");
                                    - else if(whichPage == "反馈")
                                        script $("#feedbackpage").attr("class", "nav-change");
                                    - else
                                        script $("#indexpage").attr("class", "nav-change");
                        .alert-success
                            - if (messages.info)
                                .message.info
                                    script $("#logo").attr("data-content", "#{messages.info}");
                                    script $("#logo").popover('show');
                                    script setTimeout(function () {$("#logo").popover('hide');}, 3000);
                    .row
                        #page.row.page-control
                            //-img(style='position:absolute; left: 0px; top: 0px; width: 100%;z-index:-1;min-width: 886px;margin-top:165px;', src='/img/back3.png')
                            img(style='position:fixed; left: 0px; top: 0px; width: 100%;z-index:-3;min-width: 886px;', src='/img/bg005.png')
                            .containing(style='margin-top:2.8%;')
                                //-.col-lg-4.col-nm-4.col-sm-4.col-xs-4
                                    h1(style="font-size:2em; font-family:'Microsoft YaHei', 微软雅黑") 北航在线编程
                                    h3(style="font-size:1.5em;margin-top:0.5em; font-family:'Microsoft YaHei', 微软雅黑") BUAA ONLINE JUDGE
                                    p(style="font-size:20px; margin-top:1.8em;font-family:'Microsoft YaHei', 微软雅黑")
                                        span.glyphicon.glyphicon.glyphicon-ok-circle(aria-hidden='true', style='margin-right: 10px;color: #fff;')
                                        | 在线课程
                                        span.glyphicon.glyphicon.glyphicon-ok-circle(aria-hidden='true', style='margin-right: 10px;margin-left: 6px;color: #fff;')
                                        | 海量题库
                                        br
                                        span.glyphicon.glyphicon.glyphicon-ok-circle(aria-hidden='true', style='margin-right: 10px;color: #fff;')
                                        | 新鲜赛事
                                        span.glyphicon.glyphicon.glyphicon-ok-circle(aria-hidden='true', style='margin-right: 10px;margin-left: 6px;color: #fff;')
                                        | 及时评测
                                    p(style="font-size:16px; margin-bottom:0px; font-family:'Microsoft YaHei', 微软雅黑") Write The Code, Change The World.




                                .col-lg-8.col-md-8.col-sm-8.col-xs-8
                                    h1(style="font-size:4em; font-family:'Microsoft YaHei', 微软雅黑;color:#ffffff;") 欢迎来到OJ4TH
                                    //-h1(style="font-size:2em; font-family:'Microsoft YaHei', 微软雅黑")
                                        | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp————从
                                        a(href="/problem/accepted" style="color:#88FF45") 题解
                                        | 开始
                                    //-h1(style="font-size:2em; font-family:'Microsoft YaHei', 微软雅黑")
                                        |详情请戳上方
                                        a(href="/problem/accepted" style="color:#88FF45") 题解链接
                                    //br
                                    h4
                                        //label(style="color:#FFB90F; font-weight:bold; font-size:18px;") 请注意，提交相同AC代码(包括自己的)的行为将被判定为抄袭，情节严重者将被系统永久封号。
                                        //a(href="https://buaacoding.cn/acm-register/",style="color:#FFB90F") 2018ACM暑期集训选拔开始啦>>>欢迎大家来戳~
                                        //p
                                        //label(style="color:#EE4000; font-weight:bold; font-size:20px;") 【通知】
                                        //a(href="/bcpc/advertisement.html",style="color:#FFB90F",target="_blank") 关于北航学院2017级（航空航天类）《C语言程序设计》课程助教招募>>>感兴趣请戳>>>详情

                                    //先关闭了推荐
                                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                        if(user && recommendation && recommendation.length != 0)
                                            if(recommendation.length == 0)
                                                |您已经完成今日的所有推荐题目，太强了！！！
                                                br
                                                |是时候干点别的了~~~
                                            else
                                                h4(style='color: #88FF45; font-weight: bold; margin-bottom:1em;') 今日小OJ推荐您做：
                                                - for(var i = 0; i < recommendation.length; i++)
                                                    p
                                                        - var recommendation_problem_id = recommendation[i].id;
                                                        if(recommendation_problem_id < 10)
                                                            - recommendation_problem_id = "00" + recommendation_problem_id;
                                                        else if(recommendation_problem_id < 100)
                                                            - recommendation_problem_id = "0" + recommendation_problem_id;
                                                        if user.id % 2 == 0
                                                            if(recommendation[i].accepted + recommendation[i].tried == 1)
                                                                //-a(href= "/problem/" + recommendation[i].id + "/index", style='color:red; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:red; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                            else if (recommendation[i].accepted + recommendation[i].tried != 2)
                                                                //-a(href= "/problem/" + recommendation[i].id + "/index", style='color:black; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:black; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}

                                                        else
                                                            if(recommendation[i].accepted + recommendation[i].tried == 1) && tags[i] == "[]"
                                                                //-a(href= "/problem/" + recommendation[i].id + "/index", style='color:red; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:red; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                            else if (recommendation[i].accepted + recommendation[i].tried == 1) && tags[i] != "[]"
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:red; font-weight: bold;') #{recommendation_problem_id}--#{tags[i]}
                                                            else if (recommendation[i].accepted + recommendation[i].tried != 2) && tags[i] == "[]"
                                                                //-a(href= "/problem/" + recommendation[i].id + "/index", style='color:black; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:black; font-weight: bold;') #{recommendation_problem_id}--#{recommendation[i].title}
                                                            else if (recommendation[i].accepted + recommendation[i].tried != 2) && tags[i] != "[]"
                                                                a(href= "/problem/statistics?problem_id=" + recommendation[i].id , style='color:#FFB90F; font-weight: bold;') #{recommendation_problem_id}--#{tags[i]}


                                        //br
                                        //br
                                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                        if(user && problems!="[]")
                                            if(problems == "[]")
                                                |您已经完成所有题解，太棒了！！！
                                                br
                                                |坚持写题解~小OJ为您打call~~~
                                            else
                                                h4(style='color: #88FF45; font-weight: bold; margin-bottom:1em;') 小OJ提醒您写题解啦~
                                                    br
                                                    br
                                                    each problem in JSON.parse(problems)
                                                        each submission in problem
                                                            if(submission.solution)
                                                                -var flag = true;
                                                                break
                                                        if(!flag)
                                                            p
                                                                a(href="/problem/" + problem.id + "/createSolution", style='color:black;font-size:14px;') #{problem.id}--#{problem.title}

                                    label(style="color:#FFB90F; font-weight:bold; font-size:16px;margin-top:65px;") 请注意，提交相同AC代码(包括自己的)的行为将被
                                    br
                                    label(style="color:#FFB90F; font-weight:bold; font-size:16px;") 判定为抄袭，情节严重者将被系统永久封号。
                                    p
                                    br
                                    p(style="font-size:16px;color:#FFB90F;font-weight: bold;") 遇到困难了？来找小O吧~~
                                        br
                                        a(href="http://authenticate.buaacoding.cn/authenticate" target="_blank" style="color:black") 邮箱绑定
                                        br
                                        a(href="http://authenticate.buaacoding.cn/reset" target="_blank" style="color:black") 密码重置
                                        br
                                        a(href="http://authenticate.buaacoding.cn/recovery" target="_blank" style="color:black") 账号找回
                                    p
                                    br
                                    p(style="font-size:16px;color:#FFB90F;font-weight: bold;") 新手必点>>>戳我下载哦~
                                        br
                                        a(href="/problem/DEVStatistics?problem_id=1" target="_blank" style="color:black") DEV-C++使用指南
                                        br
                                        a(href="/problem/CBStatistics?problem_id=1" target="_blank" style="color:black") CodeBlocks使用指南
                                    p(style="font-size:16px;color:#FFB90F;font-weight: bold;") 听说有福利~~
                                        br
                                        a(href="/problem/tencentStatistics?problem_id=1" target="_blank" style="color:black") 小OJ提醒您戳戳戳 《腾讯云大学生扶持计划》
                                        br
                                        a(href="/problem/xiniuStatistics?problem_id=1" target="_blank" style="color:black") 腾讯犀牛鸟精英人才培养计划，诚邀您参与
                                    //-h2(style="font-size:2em; font-family:'Microsoft YaHei', 微软雅黑")
                                        a(href="/notice" style="color:#FFB90F")
                                            |北航ACM程序设计实验室研究助理招聘信息
                                .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                    h3.text-center(style="color:#FFB90F") 风云榜（赛季冠军）
                                    div(style="max-height:510px;overflow:auto;border-radius: 20px; background-color:rgba(52, 52, 52, 0.5);")
                                        table.table.table-condensed.table-center(style="font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;margin-top:20px;margin-left:20px; ")
                                            tr(style="border:0px;").text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff;font-size:20px") 月份
                                                td(style="vertical-align: middle;border:0px;color:#ffffff;font-size:20px") 学号
                                                td(style="vertical-align: middle;border:0px;color:#ffffff;font-size:20px") 姓名
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年1月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 余帅
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年2月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 王子牧
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年3月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 刘炫
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年4月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 田柯宇
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年5月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 田柯宇
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年6月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 田柯宇
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年7月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1604××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 陈泽人
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年8月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 莫策
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年9月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 田柯宇
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年10月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1837××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 牟钰
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年11月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1837××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 赵子轩
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2018年12月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1601××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 余天予
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#FFB90F; font-size:20px;") 2018年度冠军
                                                td(style="vertical-align: middle;border:0px;color:#FFB90F; font-size:20px;") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#FFB90F; font-size:20px;") 田柯宇
                                            tr.text-center
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 2019年1月
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 1737××××
                                                td(style="vertical-align: middle;border:0px;color:#ffffff") 万亮
                                            //tr.text-center
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 2017年10月
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 15041061
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 廖晓宇
                                            //tr.text-center
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 2017年11月
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 16721074
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 刘炜
                                            //tr.text-center
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 2017年12月
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 16011133
                                            //    td(style="vertical-align: middle;border:0px;color:#ffffff") 余天予
                                    br
                                    p(style="float:right;font-size:16px;color:black;font-weight: bold;") 扫一扫看年度做题报告~
                                        br
                                        img(style='float:right;width:130px;height:160px;margin-top:10px;',src='/img/xiaochengxu.png')
                    script.
                        $(document).ready(function () {
                            $(".minheight").css("min-height", ($(window).height() - 140) + "px");
                            $("body").css({"background-image": "url(img/bg004.png)"});
                        });
                        $(window).resize(function () {
                            $(".minheight").css("min-height", ($(window).height() - 140) + "px");
                        });
                        function logoAlert(information) {
                            $("#logo").attr("data-content",information);
                            $("#logo").popover('show');
                            setTimeout(function () {$("#logo").popover('hide');}, 3000);
                        }
                        autosize(document.querySelectorAll('textarea'));
                    .row(id="footer")
                        footer.footer
                            br
                            p.text-center
                                | College of Software, Beihang University

                    //script.
                    //    $.ajax({
                    //        url: "http://localhost:3000/api/solution_tags/15783/tag",
                    //        data: JSON.stringify({
                    //            content: "数学运算", solutionID: 15783, weight: 2
                    //        })
                    //        ,
                    //        type: "POST"
                    //    });





