//
   Created by heavenduke on 15-5-18.

extends layout

block user
      h1 Email: #{user.email}
      h1 Username #{user.nickname}
      h1 School #{user.school}
      h1 College #{user.college}
      h1 Description #{user.description}
      h1 Student_id #{user.student_id}