html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="keywords", content="OJ,Online Judge,ACM,BUAA,beihang,评测,教学,BUAAOJ,beihangoj,OJ4TH,北航OJ,北航ACM,最好用的OJ,最好用的在线评测系统,编程,学编程,怎么学编程,OJ3rd,北航软件学院")
        meta(name='author', content='北航程序设计与算法研究实验室')
        meta(name='generator', content='Ghost 0.5')
        meta(name='renderer', content='webkit')
        meta(name='referrer', content='always')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/Glyphicons.min.css')
        title Rank
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/autosize.min.js')
        script(src="/js/ga.js")
        style.
            h1{
                font-size:4em;
                margin-left:600px;
                margin-bottom: 40px;
                margin-top: 40px;
                font-family:'Microsoft YaHei', 微软雅黑;
            }
            .l1{
                font-size: 2em;
                margin-left: 150px;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }

            .l2{
                font-size: 2em;
                margin-left: 350px;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }

            .rank1{
                position:absolute;
                left: 0px; top: 0px;
                width: 100%;
                z-index:-1;
                min-width: 886px;
                margin-top:100px;
                margin-left:80px;
                font-size:1.5em;
                color:#ffffff;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }

            .rank2 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 200px;
                font-size: 1.5em;
                color: #ffffff;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }

            .rank3 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 300px;
                font-size: 1.5em;
                color: #ffffff;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }
            .do1 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 550px;
                font-size: 1.5em;
                color: #ffffff;
            }

            .do2 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 670px;
                font-size: 1.5em;
                color: #ffffff;
            }

            .do3 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 770px;
                font-size: 1.5em;
                color: #ffffff;
            }

            .sol1 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 1020px;
                font-size: 1.5em;
                color: #ffffff;
            }

            .sol2 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 1140px;
                font-size: 1.5em;
                color: #ffffff;
            }

            .sol3 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 100px;
                margin-left: 1240px;
                font-size: 1.5em;
                color: #ffffff;
            }
            .so{
                width: 280px;
                margin-left: 68px;
                margin-top: 20px;

            }
            .doso {
                width: 280px;
                margin-left: 535px;
                margin-top: -35px;
            }
            .soso{
                width: 280px;
                margin-left: 1002px;
                margin-top: -35px;
            }






body(style='background-image: url(/img/top-bg.png);')
        h1 排行榜
        .col-lg-4.col-nm-4.col-sm-4.col-xs-4
                .label(class="l1" id="l1") 琅琊榜
                .label(class="l2") 勤奋榜
                .label(class="l2") 题解达人
                select.form-control(onchange="request_ajax_searching()",class="so",id="result1", name="result1")
                    option(value = "ALL") 总排名
                    option(value = "R1M") 最近一个月
                script.
                    function request_ajax_searching() {
                        var vs = $('select option:selected').val();
                        var selected_val = document.getElementById("result1");
                        if (selected_val.options[1].value == vs) {
                            document.getElementById("r1td0").innerText = #{CountsR[0].creator.dataValues.student_id};
                            document.getElementById("r1td1").innerText = #{CountsR[1].creator.dataValues.student_id};
                            document.getElementById("r1td2").innerText = #{CountsR[2].creator.dataValues.student_id};
                            document.getElementById("r1td3").innerText = #{CountsR[3].creator.dataValues.student_id};
                            document.getElementById("r1td4").innerText = #{CountsR[4].creator.dataValues.student_id};
                            document.getElementById("r1td5").innerText = #{CountsR[5].creator.dataValues.student_id};
                            document.getElementById("r1td6").innerText = #{CountsR[6].creator.dataValues.student_id};
                            document.getElementById("r1td7").innerText = #{CountsR[7].creator.dataValues.student_id};
                            document.getElementById("r1td8").innerText = #{CountsR[8].creator.dataValues.student_id};
                            document.getElementById("r1td9").innerText = #{CountsR[9].creator.dataValues.student_id};

                            document.getElementById("r2td0").innerHTML = "<td>#{CountsR[0].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td1").innerHTML = "<td>#{CountsR[1].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td2").innerHTML = "<td>#{CountsR[2].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td3").innerHTML = "<td>#{CountsR[3].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td4").innerHTML = "<td>#{CountsR[4].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td5").innerHTML = "<td>#{CountsR[5].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td6").innerHTML = "<td>#{CountsR[6].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td7").innerHTML = "<td>#{CountsR[7].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td8").innerHTML = "<td>#{CountsR[8].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td9").innerHTML = "<td>#{CountsR[9].creator.dataValues.nickname}</td>";

                            document.getElementById("r3td0").innerText = #{CountsR[0].dataValues.COUNT};
                            document.getElementById("r3td1").innerText = #{CountsR[1].dataValues.COUNT};
                            document.getElementById("r3td2").innerText = #{CountsR[2].dataValues.COUNT};
                            document.getElementById("r3td3").innerText = #{CountsR[3].dataValues.COUNT};
                            document.getElementById("r3td4").innerText = #{CountsR[4].dataValues.COUNT};
                            document.getElementById("r3td5").innerText = #{CountsR[5].dataValues.COUNT};
                            document.getElementById("r3td6").innerText = #{CountsR[6].dataValues.COUNT};
                            document.getElementById("r3td7").innerText = #{CountsR[7].dataValues.COUNT};
                            document.getElementById("r3td8").innerText = #{CountsR[8].dataValues.COUNT};
                            document.getElementById("r3td9").innerText = #{CountsR[9].dataValues.COUNT};

                        }
                        else
                        {
                            document.getElementById("r1td0").innerText = #{Counts[0].creator.dataValues.student_id};
                            document.getElementById("r1td1").innerText = #{Counts[1].creator.dataValues.student_id};
                            document.getElementById("r1td2").innerText = #{Counts[2].creator.dataValues.student_id};
                            document.getElementById("r1td3").innerText = #{Counts[3].creator.dataValues.student_id};
                            document.getElementById("r1td4").innerText = #{Counts[4].creator.dataValues.student_id};
                            document.getElementById("r1td5").innerText = #{Counts[5].creator.dataValues.student_id};
                            document.getElementById("r1td6").innerText = #{Counts[6].creator.dataValues.student_id};
                            document.getElementById("r1td7").innerText = #{Counts[7].creator.dataValues.student_id};
                            document.getElementById("r1td8").innerText = #{Counts[8].creator.dataValues.student_id};
                            document.getElementById("r1td9").innerText = #{Counts[9].creator.dataValues.student_id};

                            document.getElementById("r2td0").innerHTML = "<td>#{Counts[0].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td1").innerHTML = "<td>#{Counts[1].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td2").innerHTML = "<td>#{Counts[2].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td3").innerHTML = "<td>#{Counts[3].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td4").innerHTML = "<td>#{Counts[4].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td5").innerHTML = "<td>#{Counts[5].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td6").innerHTML = "<td>#{Counts[6].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td7").innerHTML = "<td>#{Counts[7].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td8").innerHTML = "<td>#{Counts[8].creator.dataValues.nickname}</td>";
                            document.getElementById("r2td9").innerHTML = "<td>#{Counts[9].creator.dataValues.nickname}</td>";

                            document.getElementById("r3td0").innerText = #{Counts[0].dataValues.COUNT};
                            document.getElementById("r3td1").innerText = #{Counts[1].dataValues.COUNT};
                            document.getElementById("r3td2").innerText = #{Counts[2].dataValues.COUNT};
                            document.getElementById("r3td3").innerText = #{Counts[3].dataValues.COUNT};
                            document.getElementById("r3td4").innerText = #{Counts[4].dataValues.COUNT};
                            document.getElementById("r3td5").innerText = #{Counts[5].dataValues.COUNT};
                            document.getElementById("r3td6").innerText = #{Counts[6].dataValues.COUNT};
                            document.getElementById("r3td7").innerText = #{Counts[7].dataValues.COUNT};
                            document.getElementById("r3td8").innerText = #{Counts[8].dataValues.COUNT};
                            document.getElementById("r3td9").innerText = #{Counts[9].dataValues.COUNT};
                        }

                    }
                select.form-control(onchange="request_do_searching()",class="doso",id="doresult", name="doresult")
                    option(value = "ALL1") 总排名
                    option(value = "R1M1") 最近一个月
                script.
                    function request_do_searching() {
                        var dovs = $('select option:selected').val();
                        var doselected_val = document.getElementById("doresult");
                        if(doselected_val.value == "R1M1"){
                            document.getElementById("d1td0").innerText = #{DoCountsR[0].creator.dataValues.student_id};
                            document.getElementById("d1td1").innerText = #{DoCountsR[1].creator.dataValues.student_id};
                            document.getElementById("d1td2").innerText = #{DoCountsR[2].creator.dataValues.student_id};
                            document.getElementById("d1td3").innerText = #{DoCountsR[3].creator.dataValues.student_id};
                            document.getElementById("d1td4").innerText = #{DoCountsR[4].creator.dataValues.student_id};
                            document.getElementById("d1td5").innerText = #{DoCountsR[5].creator.dataValues.student_id};
                            document.getElementById("d1td6").innerText = #{DoCountsR[6].creator.dataValues.student_id};
                            document.getElementById("d1td7").innerText = #{DoCountsR[7].creator.dataValues.student_id};
                            document.getElementById("d1td8").innerText = #{DoCountsR[8].creator.dataValues.student_id};
                            document.getElementById("d1td9").innerText = #{DoCountsR[9].creator.dataValues.student_id};

                            document.getElementById("d2td0").innerHTML = "<td>#{DoCountsR[0].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td1").innerHTML = "<td>#{DoCountsR[1].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td2").innerHTML = "<td>#{DoCountsR[2].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td3").innerHTML = "<td>#{DoCountsR[3].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td4").innerHTML = "<td>#{DoCountsR[4].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td5").innerHTML = "<td>#{DoCountsR[5].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td6").innerHTML = "<td>#{DoCountsR[6].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td7").innerHTML = "<td>#{DoCountsR[7].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td8").innerHTML = "<td>#{DoCountsR[8].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td9").innerHTML = "<td>#{DoCountsR[9].creator.dataValues.nickname}</td>";

                            document.getElementById("d3td0").innerText = #{DoCountsR[0].dataValues.COUNT};
                            document.getElementById("d3td1").innerText = #{DoCountsR[1].dataValues.COUNT};
                            document.getElementById("d3td2").innerText = #{DoCountsR[2].dataValues.COUNT};
                            document.getElementById("d3td3").innerText = #{DoCountsR[3].dataValues.COUNT};
                            document.getElementById("d3td4").innerText = #{DoCountsR[4].dataValues.COUNT};
                            document.getElementById("d3td5").innerText = #{DoCountsR[5].dataValues.COUNT};
                            document.getElementById("d3td6").innerText = #{DoCountsR[6].dataValues.COUNT};
                            document.getElementById("d3td7").innerText = #{DoCountsR[7].dataValues.COUNT};
                            document.getElementById("d3td8").innerText = #{DoCountsR[8].dataValues.COUNT};
                            document.getElementById("d3td9").innerText = #{DoCountsR[9].dataValues.COUNT};
                        }
                        else if(doselected_val.value == "ALL1"){
                            document.getElementById("d1td0").innerText = #{DoCounts[0].creator.dataValues.student_id};
                            document.getElementById("d1td1").innerText = #{DoCounts[1].creator.dataValues.student_id};
                            document.getElementById("d1td2").innerText = #{DoCounts[2].creator.dataValues.student_id};
                            document.getElementById("d1td3").innerText = #{DoCounts[3].creator.dataValues.student_id};
                            document.getElementById("d1td4").innerText = #{DoCounts[4].creator.dataValues.student_id};
                            document.getElementById("d1td5").innerText = #{DoCounts[5].creator.dataValues.student_id};
                            document.getElementById("d1td6").innerText = #{DoCounts[6].creator.dataValues.student_id};
                            document.getElementById("d1td7").innerText = #{DoCounts[7].creator.dataValues.student_id};
                            document.getElementById("d1td8").innerText = #{DoCounts[8].creator.dataValues.student_id};
                            document.getElementById("d1td9").innerText = #{DoCounts[9].creator.dataValues.student_id};

                            document.getElementById("d2td0").innerHTML = "<td>#{DoCounts[0].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td1").innerHTML = "<td>#{DoCounts[1].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td2").innerHTML = "<td>#{DoCounts[2].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td3").innerHTML = "<td>#{DoCounts[3].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td4").innerHTML = "<td>#{DoCounts[4].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td5").innerHTML = "<td>#{DoCounts[5].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td6").innerHTML = "<td>#{DoCounts[6].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td7").innerHTML = "<td>#{DoCounts[7].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td8").innerHTML = "<td>#{DoCounts[8].creator.dataValues.nickname}</td>";
                            document.getElementById("d2td9").innerHTML = "<td>#{DoCounts[9].creator.dataValues.nickname}</td>";

                            document.getElementById("d3td0").innerText = #{DoCounts[0].dataValues.COUNT};
                            document.getElementById("d3td1").innerText = #{DoCounts[1].dataValues.COUNT};
                            document.getElementById("d3td2").innerText = #{DoCounts[2].dataValues.COUNT};
                            document.getElementById("d3td3").innerText = #{DoCounts[3].dataValues.COUNT};
                            document.getElementById("d3td4").innerText = #{DoCounts[4].dataValues.COUNT};
                            document.getElementById("d3td5").innerText = #{DoCounts[5].dataValues.COUNT};
                            document.getElementById("d3td6").innerText = #{DoCounts[6].dataValues.COUNT};
                            document.getElementById("d3td7").innerText = #{DoCounts[7].dataValues.COUNT};
                            document.getElementById("d3td8").innerText = #{DoCounts[8].dataValues.COUNT};
                            document.getElementById("d3td9").innerText = #{DoCounts[9].dataValues.COUNT};
                        }


                    }

                select.form-control(onchange="request_so_searching()",class="soso",id="soresult", name="soresult")
                    option(value = "ALL2") 总排名
                    option(value = "R1M2") 最近一个月
                script.
                    function request_so_searching() {
                        var soselected_val = document.getElementById("soresult");
                        if (soselected_val.value == "R1M2") {
                            document.getElementById("s1td0").innerText = #{ResultsR[0].creator.dataValues.student_id};
                            document.getElementById("s1td1").innerText = #{ResultsR[1].creator.dataValues.student_id};
                            document.getElementById("s1td2").innerText = #{ResultsR[2].creator.dataValues.student_id};
                            document.getElementById("s1td3").innerText = #{ResultsR[3].creator.dataValues.student_id};
                            document.getElementById("s1td4").innerText = #{ResultsR[4].creator.dataValues.student_id};
                            document.getElementById("s1td5").innerText = #{ResultsR[5].creator.dataValues.student_id};
                            document.getElementById("s1td6").innerText = #{ResultsR[6].creator.dataValues.student_id};
                            document.getElementById("s1td7").innerText = #{ResultsR[7].creator.dataValues.student_id};
                            document.getElementById("s1td8").innerText = #{ResultsR[8].creator.dataValues.student_id};
                            document.getElementById("s1td9").innerText = #{ResultsR[9].creator.dataValues.student_id};

                            document.getElementById("s2td0").innerHTML = "<td>#{ResultsR[0].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td1").innerHTML = "<td>#{ResultsR[1].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td2").innerHTML = "<td>#{ResultsR[2].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td3").innerHTML = "<td>#{ResultsR[3].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td4").innerHTML = "<td>#{ResultsR[4].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td5").innerHTML = "<td>#{ResultsR[5].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td6").innerHTML = "<td>#{ResultsR[6].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td7").innerHTML = "<td>#{ResultsR[7].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td8").innerHTML = "<td>#{ResultsR[8].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td9").innerHTML = "<td>#{ResultsR[9].creator.dataValues.nickname}</td>";

                            document.getElementById("s3td0").innerText = #{ResultsR[0].dataValues.COUNT};
                            document.getElementById("s3td1").innerText = #{ResultsR[1].dataValues.COUNT};
                            document.getElementById("s3td2").innerText = #{ResultsR[2].dataValues.COUNT};
                            document.getElementById("s3td3").innerText = #{ResultsR[3].dataValues.COUNT};
                            document.getElementById("s3td4").innerText = #{ResultsR[4].dataValues.COUNT};
                            document.getElementById("s3td5").innerText = #{ResultsR[5].dataValues.COUNT};
                            document.getElementById("s3td6").innerText = #{ResultsR[6].dataValues.COUNT};
                            document.getElementById("s3td7").innerText = #{ResultsR[7].dataValues.COUNT};
                            document.getElementById("s3td8").innerText = #{ResultsR[8].dataValues.COUNT};
                            document.getElementById("s3td9").innerText = #{ResultsR[9].dataValues.COUNT};
                        }
                        else if (soselected_val.value == "ALL2") {
                            document.getElementById("s1td0").innerText = #{Results[0].creator.dataValues.student_id};
                            document.getElementById("s1td1").innerText = #{Results[1].creator.dataValues.student_id};
                            document.getElementById("s1td2").innerText = #{Results[2].creator.dataValues.student_id};
                            document.getElementById("s1td3").innerText = #{Results[3].creator.dataValues.student_id};
                            document.getElementById("s1td4").innerText = #{Results[4].creator.dataValues.student_id};
                            document.getElementById("s1td5").innerText = #{Results[5].creator.dataValues.student_id};
                            document.getElementById("s1td6").innerText = #{Results[6].creator.dataValues.student_id};
                            document.getElementById("s1td7").innerText = #{Results[7].creator.dataValues.student_id};
                            document.getElementById("s1td8").innerText = #{Results[8].creator.dataValues.student_id};
                            document.getElementById("s1td9").innerText = #{Results[9].creator.dataValues.student_id};

                            document.getElementById("s2td0").innerHTML = "<td>#{Results[0].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td1").innerHTML = "<td>#{Results[1].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td2").innerHTML = "<td>#{Results[2].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td3").innerHTML = "<td>#{Results[3].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td4").innerHTML = "<td>#{Results[4].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td5").innerHTML = "<td>#{Results[5].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td6").innerHTML = "<td>#{Results[6].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td7").innerHTML = "<td>#{Results[7].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td8").innerHTML = "<td>#{Results[8].creator.dataValues.nickname}</td>";
                            document.getElementById("s2td9").innerHTML = "<td>#{Results[9].creator.dataValues.nickname}</td>";

                            document.getElementById("s3td0").innerText = #{Results[0].dataValues.COUNT};
                            document.getElementById("s3td1").innerText = #{Results[1].dataValues.COUNT};
                            document.getElementById("s3td2").innerText = #{Results[2].dataValues.COUNT};
                            document.getElementById("s3td3").innerText = #{Results[3].dataValues.COUNT};
                            document.getElementById("s3td4").innerText = #{Results[4].dataValues.COUNT};
                            document.getElementById("s3td5").innerText = #{Results[5].dataValues.COUNT};
                            document.getElementById("s3td6").innerText = #{Results[6].dataValues.COUNT};
                            document.getElementById("s3td7").innerText = #{Results[7].dataValues.COUNT};
                            document.getElementById("s3td8").innerText = #{Results[8].dataValues.COUNT};
                            document.getElementById("s3td9").innerText = #{Results[9].dataValues.COUNT};
                        }

                    }


                .table(class="rank1")
                        .tr 学号
                            .td(id="r1td0") #{Counts[0].creator.dataValues.student_id}
                            .td(id="r1td1") #{Counts[1].creator.dataValues.student_id}
                            .td(id="r1td2") #{Counts[2].creator.dataValues.student_id}
                            .td(id="r1td3") #{Counts[3].creator.dataValues.student_id}
                            .td(id="r1td4") #{Counts[4].creator.dataValues.student_id}
                            .td(id="r1td5") #{Counts[5].creator.dataValues.student_id}
                            .td(id="r1td6") #{Counts[6].creator.dataValues.student_id}
                            .td(id="r1td7") #{Counts[7].creator.dataValues.student_id}
                            .td(id="r1td8") #{Counts[8].creator.dataValues.student_id}
                            .td(id="r1td9") #{Counts[9].creator.dataValues.student_id}

                .table(class="rank2")
                        .tr 姓名
                            .td(id="r2td0") #{Counts[0].creator.dataValues.nickname}
                            .td(id="r2td1") #{Counts[1].creator.dataValues.nickname}
                            .td(id="r2td2") #{Counts[2].creator.dataValues.nickname}
                            .td(id="r2td3") #{Counts[3].creator.dataValues.nickname}
                            .td(id="r2td4") #{Counts[4].creator.dataValues.nickname}
                            .td(id="r2td5") #{Counts[5].creator.dataValues.nickname}
                            .td(id="r2td6") #{Counts[6].creator.dataValues.nickname}
                            .td(id="r2td7") #{Counts[7].creator.dataValues.nickname}
                            .td(id="r2td8") #{Counts[8].creator.dataValues.nickname}
                            .td(id="r2td9") #{Counts[9].creator.dataValues.nickname}

                .table(class="rank3")
                        .tr 过题数
                            .td(id="r3td0") #{Counts[0].dataValues.COUNT}
                            .td(id="r3td1") #{Counts[1].dataValues.COUNT}
                            .td(id="r3td2") #{Counts[2].dataValues.COUNT}
                            .td(id="r3td3") #{Counts[3].dataValues.COUNT}
                            .td(id="r3td4") #{Counts[4].dataValues.COUNT}
                            .td(id="r3td5") #{Counts[5].dataValues.COUNT}
                            .td(id="r3td6") #{Counts[6].dataValues.COUNT}
                            .td(id="r3td7") #{Counts[7].dataValues.COUNT}
                            .td(id="r3td8") #{Counts[8].dataValues.COUNT}
                            .td(id="r3td9") #{Counts[9].dataValues.COUNT}

                .table(class="do1")
                        .tr 学号
                            .td(id="d1td0") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td1") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td2") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td3") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td4") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td5") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td6") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td7") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td8") #{DoCounts[0].creator.dataValues.student_id}
                            .td(id="d1td9") #{DoCounts[0].creator.dataValues.student_id}
                .table(class="do2")
                        .tr 姓名
                            .td(id="d2td0") #{DoCounts[0].creator.dataValues.nickname}
                            .td(id="d2td1") #{DoCounts[1].creator.dataValues.nickname}
                            .td(id="d2td2") #{DoCounts[2].creator.dataValues.nickname}
                            .td(id="d2td3") #{DoCounts[3].creator.dataValues.nickname}
                            .td(id="d2td4") #{DoCounts[4].creator.dataValues.nickname}
                            .td(id="d2td5") #{DoCounts[5].creator.dataValues.nickname}
                            .td(id="d2td6") #{DoCounts[6].creator.dataValues.nickname}
                            .td(id="d2td7") #{DoCounts[7].creator.dataValues.nickname}
                            .td(id="d2td8") #{DoCounts[8].creator.dataValues.nickname}
                            .td(id="d2td9") #{DoCounts[9].creator.dataValues.nickname}
                .table(class="do3")
                        .tr 做题数
                            .td(id="d3td0") #{DoCounts[0].dataValues.COUNT}
                            .td(id="d3td1") #{DoCounts[1].dataValues.COUNT}
                            .td(id="d3td2") #{DoCounts[2].dataValues.COUNT}
                            .td(id="d3td3") #{DoCounts[3].dataValues.COUNT}
                            .td(id="d3td4") #{DoCounts[4].dataValues.COUNT}
                            .td(id="d3td5") #{DoCounts[5].dataValues.COUNT}
                            .td(id="d3td6") #{DoCounts[6].dataValues.COUNT}
                            .td(id="d3td7") #{DoCounts[7].dataValues.COUNT}
                            .td(id="d3td8") #{DoCounts[8].dataValues.COUNT}
                            .td(id="d3td9") #{DoCounts[9].dataValues.COUNT}

                .table(class="sol1")
                        .tr 学号
                            .td(id="s1td0") #{Results[0].creator.dataValues.student_id}
                            .td(id="s1td1") #{Results[1].creator.dataValues.student_id}
                            .td(id="s1td2") #{Results[2].creator.dataValues.student_id}
                            .td(id="s1td3") #{Results[3].creator.dataValues.student_id}
                            .td(id="s1td4") #{Results[4].creator.dataValues.student_id}
                            .td(id="s1td5") #{Results[5].creator.dataValues.student_id}
                            .td(id="s1td6") #{Results[6].creator.dataValues.student_id}
                            .td(id="s1td7") #{Results[7].creator.dataValues.student_id}
                            .td(id="s1td8") #{Results[8].creator.dataValues.student_id}
                            .td(id="s1td9") #{Results[9].creator.dataValues.student_id}
                .table(class="sol2")
                        .tr 姓名
                            .td(id="s2td0") #{Results[0].creator.dataValues.nickname}
                            .td(id="s2td1") #{Results[1].creator.dataValues.nickname}
                            .td(id="s2td2") #{Results[2].creator.dataValues.nickname}
                            .td(id="s2td3") #{Results[3].creator.dataValues.nickname}
                            .td(id="s2td4") #{Results[4].creator.dataValues.nickname}
                            .td(id="s2td5") #{Results[5].creator.dataValues.nickname}
                            .td(id="s2td6") #{Results[6].creator.dataValues.nickname}
                            .td(id="s2td7") #{Results[7].creator.dataValues.nickname}
                            .td(id="s2td8") #{Results[8].creator.dataValues.nickname}
                            .td(id="s2td9") #{Results[9].creator.dataValues.nickname}
                .table(class="sol3")
                        .tr 题解数
                            .td(id="s3td0") #{Results[0].dataValues.COUNT}
                            .td(id="s3td1") #{Results[1].dataValues.COUNT}
                            .td(id="s3td2") #{Results[2].dataValues.COUNT}
                            .td(id="s3td3") #{Results[3].dataValues.COUNT}
                            .td(id="s3td4") #{Results[4].dataValues.COUNT}
                            .td(id="s3td5") #{Results[5].dataValues.COUNT}
                            .td(id="s3td6") #{Results[6].dataValues.COUNT}
                            .td(id="s3td7") #{Results[7].dataValues.COUNT}
                            .td(id="s3td8") #{Results[8].dataValues.COUNT}
                            .td(id="s3td9") #{Results[9].dataValues.COUNT}


