extends ../layout

block title
    - var whichPage = "排行榜"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var level = 0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12

            .col-md-3
                    h3.text-center 琅琊榜
                    select.form-control
                        option(value = "ALL") 总过题数
                    table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                        tr.problem-title-tr.text-center
                            td(style="vertical-align: middle;") 学号
                            td(style="vertical-align: middle;") 姓名
                            td(style="vertical-align: middle;") 过题数

                        tr.text-center
                            td(style="color:#FF0000;") 16211037
                            td(style="color:#FF0000;") 王嘉翼
                            td(style="color:#FF0000;") 563
                        tr.text-center
                            td(style="color:#FF0000;") 16211109
                            td(style="color:#FF0000;") 周宏建
                            td(style="color:#FF0000;") 546
                        tr.text-center
                            td(style="color:#FF0000;") 16211007
                            td(style="color:#FF0000;") 阙子烝
                            td(style="color:#FF0000;") 496
                        tr.text-center
                            td 16211114
                            td 赵立晨
                            td 490
                        tr.text-center
                            td 16211063
                            td 李昕航
                            td 449
                        tr.text-center
                            td 16211022
                            td 黎昆昌
                            td 426
                        tr.text-center
                            td 16211006
                            td 徐家兴
                            td 422
                        tr.text-center
                            td 16211023
                            td 李威
                            td 419
                        tr.text-center
                            td 16211044
                            td 李明
                            td 414
                        tr.text-center
                            td 15211088
                            td 王意如
                            td 408


            .col-md-3
                        h3.text-center 未来之星榜
                        select.form-control
                           option(value = "R1M") 最近30天过题数
                        table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                            tr.problem-title-tr.text-center
                                td(style="vertical-align: middle;") 学号
                                td(style="vertical-align: middle;") 姓名
                                td(style="vertical-align: middle;") 过题数
                            if (CountsR!="[]")
                                each countsR in JSON.parse(CountsR)
                                    tr.text-center
                                        td #{countsR.creator.student_id}
                                        td #{countsR.creator.nickname}
                                        td #{countsR.COUNT}
                            else
                                p 未找到榜单信息！

            .col-md-3
                       h3.text-center 题解达人
                       select.form-control(onchange="request_so_searching()",class="soso",id="soresult", name="soresult")
                           option(value = "all") 总提交题解数
                           if (Results !="[]" && ResultsR !="[]" )
                            option(value = "recent") 最近30天提交题解数
                               script.
                                   function request_so_searching() {
                                       var soselected_val = document.getElementById("soresult");
                                       if (soselected_val.value == "recent") {

                                           document.getElementById("s1td0").innerHTML = "<td>#{JSON.parse(ResultsR)[0].creator.student_id}</td>" + "<style>#test{table-layout:fixed;vertical-align: middle;}</style>";
                                           document.getElementById("s1td1").innerHTML = "<td>#{JSON.parse(ResultsR)[1].creator.student_id}</td>";
                                           document.getElementById("s1td2").innerHTML = "<td>#{JSON.parse(ResultsR)[2].creator.student_id}</td>";
                                           document.getElementById("s1td3").innerHTML = "<td>#{JSON.parse(ResultsR)[3].creator.student_id}</td>";
                                           document.getElementById("s1td4").innerHTML = "<td>#{JSON.parse(ResultsR)[4].creator.student_id}</td>";
                                           document.getElementById("s1td5").innerHTML = "<td>#{JSON.parse(ResultsR)[5].creator.student_id}</td>";
                                           document.getElementById("s1td6").innerHTML = "<td>#{JSON.parse(ResultsR)[6].creator.student_id}</td>";
                                           document.getElementById("s1td7").innerHTML = "<td>#{JSON.parse(ResultsR)[7].creator.student_id}</td>";
                                           document.getElementById("s1td8").innerHTML = "<td>#{JSON.parse(ResultsR)[8].creator.student_id}</td>";
                                           document.getElementById("s1td9").innerHTML = "<td>#{JSON.parse(ResultsR)[9].creator.student_id}</td>";

                                           document.getElementById("s2td0").innerHTML = "<td>#{JSON.parse(ResultsR)[0].creator.nickname}</td>";
                                           document.getElementById("s2td1").innerHTML = "<td>#{JSON.parse(ResultsR)[1].creator.nickname}</td>";
                                           document.getElementById("s2td2").innerHTML = "<td>#{JSON.parse(ResultsR)[2].creator.nickname}</td>";
                                           document.getElementById("s2td3").innerHTML = "<td>#{JSON.parse(ResultsR)[3].creator.nickname}</td>";
                                           document.getElementById("s2td4").innerHTML = "<td>#{JSON.parse(ResultsR)[4].creator.nickname}</td>";
                                           document.getElementById("s2td5").innerHTML = "<td>#{JSON.parse(ResultsR)[5].creator.nickname}</td>";
                                           document.getElementById("s2td6").innerHTML = "<td>#{JSON.parse(ResultsR)[6].creator.nickname}</td>";
                                           document.getElementById("s2td7").innerHTML = "<td>#{JSON.parse(ResultsR)[7].creator.nickname}</td>";
                                           document.getElementById("s2td8").innerHTML = "<td>#{JSON.parse(ResultsR)[8].creator.nickname}</td>";
                                           document.getElementById("s2td9").innerHTML = "<td>#{JSON.parse(ResultsR)[9].creator.nickname}</td>";

                                           document.getElementById("s3td0").innerHTML = "<td>#{JSON.parse(ResultsR)[0].COUNT}</td>";
                                           document.getElementById("s3td1").innerHTML = "<td>#{JSON.parse(ResultsR)[1].COUNT}</td>";
                                           document.getElementById("s3td2").innerHTML = "<td>#{JSON.parse(ResultsR)[2].COUNT}</td>";
                                           document.getElementById("s3td3").innerHTML = "<td>#{JSON.parse(ResultsR)[3].COUNT}</td>";
                                           document.getElementById("s3td4").innerHTML = "<td>#{JSON.parse(ResultsR)[4].COUNT}</td>";
                                           document.getElementById("s3td5").innerHTML = "<td>#{JSON.parse(ResultsR)[5].COUNT}</td>";
                                           document.getElementById("s3td6").innerHTML = "<td>#{JSON.parse(ResultsR)[6].COUNT}</td>";
                                           document.getElementById("s3td7").innerHTML = "<td>#{JSON.parse(ResultsR)[7].COUNT}</td>";
                                           document.getElementById("s3td8").innerHTML = "<td>#{JSON.parse(ResultsR)[8].COUNT}</td>";
                                           document.getElementById("s3td9").innerHTML = "<td>#{JSON.parse(ResultsR)[9].COUNT}</td>";
                                       }
                                       else if (soselected_val.value == "all") {
                                           document.getElementById("s1td0").innerHTML = "<td>#{JSON.parse(Results)[0].creator.student_id}</td>" + "<style>#test{table-layout:fixed;vertical-align: middle;}</style>";
                                           document.getElementById("s1td1").innerHTML = "<td>#{JSON.parse(Results)[1].creator.student_id}</td>";
                                           document.getElementById("s1td2").innerHTML = "<td>#{JSON.parse(Results)[2].creator.student_id}</td>";
                                           document.getElementById("s1td3").innerHTML = "<td>#{JSON.parse(Results)[3].creator.student_id}</td>";
                                           document.getElementById("s1td4").innerHTML = "<td>#{JSON.parse(Results)[4].creator.student_id}</td>";
                                           document.getElementById("s1td5").innerHTML = "<td>#{JSON.parse(Results)[5].creator.student_id}</td>";
                                           document.getElementById("s1td6").innerHTML = "<td>#{JSON.parse(Results)[6].creator.student_id}</td>";
                                           document.getElementById("s1td7").innerHTML = "<td>#{JSON.parse(Results)[7].creator.student_id}</td>";
                                           document.getElementById("s1td8").innerHTML = "<td>#{JSON.parse(Results)[8].creator.student_id}</td>";
                                           document.getElementById("s1td9").innerHTML = "<td>#{JSON.parse(Results)[9].creator.student_id}</td>";

                                           document.getElementById("s2td0").innerHTML = "<td>#{JSON.parse(Results)[0].creator.nickname}</td>";
                                           document.getElementById("s2td1").innerHTML = "<td>#{JSON.parse(Results)[1].creator.nickname}</td>";
                                           document.getElementById("s2td2").innerHTML = "<td>#{JSON.parse(Results)[2].creator.nickname}</td>";
                                           document.getElementById("s2td3").innerHTML = "<td>#{JSON.parse(Results)[3].creator.nickname}</td>";
                                           document.getElementById("s2td4").innerHTML = "<td>#{JSON.parse(Results)[4].creator.nickname}</td>";
                                           document.getElementById("s2td5").innerHTML = "<td>#{JSON.parse(Results)[5].creator.nickname}</td>";
                                           document.getElementById("s2td6").innerHTML = "<td>#{JSON.parse(Results)[6].creator.nickname}</td>";
                                           document.getElementById("s2td7").innerHTML = "<td>#{JSON.parse(Results)[7].creator.nickname}</td>";
                                           document.getElementById("s2td8").innerHTML = "<td>#{JSON.parse(Results)[8].creator.nickname}</td>";
                                           document.getElementById("s2td9").innerHTML = "<td>#{JSON.parse(Results)[9].creator.nickname}</td>";

                                           document.getElementById("s3td0").innerHTML = "<td>#{JSON.parse(Results)[0].COUNT}</td>";
                                           document.getElementById("s3td1").innerHTML = "<td>#{JSON.parse(Results)[1].COUNT}</td>";
                                           document.getElementById("s3td2").innerHTML = "<td>#{JSON.parse(Results)[2].COUNT}</td>";
                                           document.getElementById("s3td3").innerHTML = "<td>#{JSON.parse(Results)[3].COUNT}</td>";
                                           document.getElementById("s3td4").innerHTML = "<td>#{JSON.parse(Results)[4].COUNT}</td>";
                                           document.getElementById("s3td5").innerHTML = "<td>#{JSON.parse(Results)[5].COUNT}</td>";
                                           document.getElementById("s3td6").innerHTML = "<td>#{JSON.parse(Results)[6].COUNT}</td>";
                                           document.getElementById("s3td7").innerHTML = "<td>#{JSON.parse(Results)[7].COUNT}</td>";
                                           document.getElementById("s3td8").innerHTML = "<td>#{JSON.parse(Results)[8].COUNT}</td>";
                                           document.getElementById("s3td9").innerHTML = "<td>#{JSON.parse(Results)[9].COUNT}</td>";
                                       }

                                   }

                       table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                           tr.problem-title-tr.text-center
                               td(style="vertical-align: middle;") 学号
                               td(style="vertical-align: middle;") 姓名
                               td(style="vertical-align: middle;") 交题解数

                           tr.text-center
                               td(style="color:#FF0000;") 14271113
                               td(style="color:#FF0000;") 刘宇翔
                               td(style="color:#FF0000;") 185
                           tr.text-center
                               td(style="color:#FF0000;") 16211022
                               td(style="color:#FF0000;") 黎昆昌
                               td(style="color:#FF0000;") 167
                           tr.text-center
                               td(style="color:#FF0000;") 16211016
                               td(style="color:#FF0000;") 蔡代钢
                               td(style="color:#FF0000;") 160
                           tr.text-center
                               td 16211063
                               td 李昕航
                               td 158
                           tr.text-center
                               td 16211042
                               td 郭镕昊
                               td 155
                           tr.text-center
                               td 16211114
                               td 赵立晨
                               td 153
                           tr.text-center
                               td 16211116
                               td 杨东
                               td 153
                           tr.text-center
                               td 16211109
                               td 周宏建
                               td 149
                           tr.text-center
                               td 16211011
                               td 孟爻
                               td 147
                           tr.text-center
                               td 14051043
                               td 席一鸿
                               td 145

            .col-md-3
                        h3.text-center 风云榜（赛季冠军）
                        div(style="max-height:400px;overflow:auto;border:1px solid #DDDDDD")
                            table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                                tr.problem-title-tr.text-center
                                    td(style="vertcal-align: middle;") 月份
                                    td(style="vertical-align: middle;") 学号
                                    td(style="vertical-align: middle;") 姓名
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年9月
                                    td(style="vertical-align: middle;") 16211037
                                    td(style="vertical-align: middle;") 王嘉翼
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年10月
                                    td(style="vertical-align: middle;") 16211037
                                    td(style="vertical-align: middle;") 王嘉翼
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年11月
                                    td(style="vertical-align: middle;") 16211075
                                    td(style="vertical-align: middle;") 余双宏
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年12月
                                    td(style="vertical-align: middle;") 16211109
                                    td(style="vertical-align: middle;") 周宏建
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年1月
                                    td(style="vertical-align: middle;") 16211109
                                    td(style="vertical-align: middle;") 周宏建
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年2月
                                    td(style="vertical-align: middle;") 16061130
                                    td(style="vertical-align: middle;") 谭圣禹
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年3月
                                    td(style="vertical-align: middle;") 16211109
                                    td(style="vertical-align: middle;") 周宏建
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年4月
                                    td(style="vertical-align: middle;") 16211022
                                    td(style="vertical-align: middle;") 黎昆昌
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年5月
                                    td(style="vertical-align: middle;") 16211109
                                    td(style="vertical-align: middle;") 周宏建
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年6月
                                    td(style="vertical-align: middle;") 75211104
                                    td(style="vertical-align: middle;") 金亨辰
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年7月
                                    td(style="vertical-align: middle;") 15241055
                                    td(style="vertical-align: middle;") 王怀忠
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年8月
                                    td(style="vertical-align: middle;") 16211004
                                    td(style="vertical-align: middle;") 杜予同
                                tr.text-center
                                    td(style="vertical-align: middle;color:#FF0000; font-size:14px;") 2016-2017年度冠军
                                    td(style="vertical-align: middle;color:#FF0000; font-size:20px;") 16211109
                                    td(style="vertical-align: middle;color:#FF0000; font-size:20px;") 周宏建
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年9月
                                    td(style="vertical-align: middle;") 16211064
                                    td(style="vertical-align: middle;") 李想
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年10月
                                    td(style="vertical-align: middle;") 15041061
                                    td(style="vertical-align: middle;") 廖晓宇
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年11月
                                    td(style="vertical-align: middle;") 16721074
                                    td(style="vertical-align: middle;") 刘炜
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年12月
                                    td(style="vertical-align: middle;") 16011133
                                    td(style="vertical-align: middle;") 余天予
                        p(class="text-right") *系统共实名 #{Presults[0].dataValues.PCOUNT} 人*
        .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-left:13px;")
                p(style="font-weight:bold;") 小O喊你来领奖啦~~~
                p ※ 琅琊榜 奖金（人民币,元）：冠军 ￥300，亚军 ￥200，季军 ￥100
                p ※ 题解达人(总题解数) 奖金（人民币,元）：冠军 ￥500，亚军 ￥300，季军 ￥200
                p ※ 风云榜 奖金（人民币,元）：年度冠军 ￥300，月冠军 ￥100
                p ※ 琅琊榜、题解达人(总题解数)、风云榜 上的所有同学均有获奖证书！
                p 一切解释权归北航ACM实验室所有
                br
                p 说明：
                p 1. 目前榜单的数据统计时间截止至2017年12月18日0点。
                p 2. 一个人如果获得多个奖项，则按奖金额最高项颁发，但仍然颁发多个证书。
                p 3. 本次琅琊榜、风云榜奖金由北航ACM训练队前队员、软件学院2007级校友赖景愚先生捐赠，题解达人奖金由北航ACM实验室提供。
                p 4. 颁奖典礼将于2017年12月24日17:00-18:00举行，地点：沙河校区实7-6层。请所有获得获奖证书的同学于12月22日中午12:00前发送以下信息至1120695539@qq.com
                p 邮件主题：姓名+OJ颁奖 邮件内容：学号、姓名、所获奖项、颁奖典礼能否到场（不能到场原因）
                br
