html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="keywords", content="OJ,Online Judge,ACM,BUAA,beihang,评测,教学,BUAAOJ,beihangoj,OJ4TH,北航OJ,北航ACM,最好用的OJ,最好用的在线评测系统,编程,学编程,怎么学编程,OJ3rd,北航软件学院")
        meta(name='author', content='北航程序设计与算法研究实验室')
        meta(name='generator', content='Ghost 0.5')
        meta(name='renderer', content='webkit')
        meta(name='referrer', content='always')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/Glyphicons.min.css')
        title Rank
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/autosize.min.js')
        script(src="/js/ga.js")
        style.
            h1{
                font-size:4em;
                margin-left:45%;
                margin-bottom: 5%;
                font-family:'Microsoft YaHei', 微软雅黑;
            }
            .l1{
                font-size: 2em;
                margin-left: 35%;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }

            .l2 {
                font-size: 2em;
                margin-left: 80%;
                font-family: 'Microsoft YaHei', 微软雅黑;
            }
            .rank1{
                position:absolute;
                left: 0px; top: 0px;
                width: 100%;
                z-index:-1;
                min-width: 886px;
                margin-top:15%;
                margin-left:20%;
                font-size:1.5em;
                color:#ffffff;
            }

            .rank2 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 15%;
                margin-left: 40%;
                font-size: 1.5em;
                color: #ffffff;
            }

            .rank3 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 15%;
                margin-left: 60%;
                font-size: 1.5em;
                color: #ffffff;
            }
            .do1 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 15%;
                margin-left: 115%;
                font-size: 1.5em;
                color: #ffffff;
            }

            .do2 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 15%;
                margin-left: 135%;
                font-size: 1.5em;
                color: #ffffff;
            }

            .do3 {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: -1;
                min-width: 886px;
                margin-top: 15%;
                margin-left: 155%;
                font-size: 1.5em;
                color: #ffffff;
            }


body(style='background-image: url(/img/top-bg.png);')
        h1 排行榜
        .col-lg-6.col-nm-6.col-sm-6.col-xs-6
            .label(class="l1") 琅琊榜
            .table(class="rank1")
                .tr 学号
                    .td #{Usercounts0[0].student_id}
                    .td #{Usercounts1[0].student_id}
                    .td #{Usercounts2[0].student_id}
                    .td #{Usercounts3[0].student_id}
                    .td #{Usercounts4[0].student_id}
                    .td #{Usercounts5[0].student_id}
                    .td #{Usercounts6[0].student_id}
                    .td #{Usercounts7[0].student_id}
                    .td #{Usercounts8[0].student_id}
                    .td #{Usercounts9[0].student_id}

            .table(class="rank2")
                .tr 姓名
                    .td #{Usercounts0[0].nickname}
                    .td #{Usercounts1[0].nickname}
                    .td #{Usercounts2[0].nickname}
                    .td #{Usercounts3[0].nickname}
                    .td #{Usercounts4[0].nickname}
                    .td #{Usercounts5[0].nickname}
                    .td #{Usercounts6[0].nickname}
                    .td #{Usercounts7[0].nickname}
                    .td #{Usercounts8[0].nickname}
                    .td #{Usercounts9[0].nickname}

            .table(class="rank3")
                .tr 过题数
                    .td #{Counts[0].COUNT}
                    .td #{Counts[1].COUNT}
                    .td #{Counts[2].COUNT}
                    .td #{Counts[3].COUNT}
                    .td #{Counts[4].COUNT}
                    .td #{Counts[5].COUNT}
                    .td #{Counts[6].COUNT}
                    .td #{Counts[7].COUNT}
                    .td #{Counts[8].COUNT}
                    .td #{Counts[9].COUNT}


            .label(class="l2") 勤奋榜
            .table(class="do1")
                .tr 学号
                    .td #{Userdocounts0[0].student_id}
                    .td #{Userdocounts1[0].student_id}
                    .td #{Userdocounts2[0].student_id}
                    .td #{Userdocounts3[0].student_id}
                    .td #{Userdocounts4[0].student_id}
                    .td #{Userdocounts5[0].student_id}
                    .td #{Userdocounts6[0].student_id}
                    .td #{Userdocounts7[0].student_id}
                    .td #{Userdocounts8[0].student_id}
                    .td #{Userdocounts9[0].student_id}
            .table(class="do2")
                .tr 姓名
                    .td #{Userdocounts0[0].nickname}
                    .td #{Userdocounts1[0].nickname}
                    .td #{Userdocounts2[0].nickname}
                    .td #{Userdocounts3[0].nickname}
                    .td #{Userdocounts4[0].nickname}
                    .td #{Userdocounts5[0].nickname}
                    .td #{Userdocounts6[0].nickname}
                    .td #{Userdocounts7[0].nickname}
                    .td #{Userdocounts8[0].nickname}
                    .td #{Userdocounts9[0].nickname}
            .table(class="do3")
                .tr 做题数
                    .td #{DoCounts[0].COUNT}
                    .td #{DoCounts[1].COUNT}
                    .td #{DoCounts[2].COUNT}
                    .td #{DoCounts[3].COUNT}
                    .td #{DoCounts[4].COUNT}
                    .td #{DoCounts[5].COUNT}
                    .td #{DoCounts[6].COUNT}
                    .td #{DoCounts[7].COUNT}
                    .td #{DoCounts[8].COUNT}
                    .td #{DoCounts[9].COUNT}