extends ../layout

block title
    - var whichPage = "排行榜"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var level = 0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12

            .col-md-4
                    h3.text-center 琅琊榜
                    select.form-control
                        option(value = "ALL") 总过题数
                    table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                        tr.problem-title-tr.text-center
                            td(style="vertical-align: middle;") 学号
                            td(style="vertical-align: middle;") 姓名
                            td(style="vertical-align: middle;") 过题数
                        if (Counts != "[]")
                            each counts in JSON.parse(Counts)
                                tr.text-center
                                td #{counts.student_id}×××
                                td #{counts.nickname}
                                td #{counts.ACOUNT}
                        else
                            p 未找到榜单信息!

            .col-md-4
                        h3.text-center 未来之星榜
                        select.form-control
                           option(value = "R1M") 最近30天过题数
                        table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                            tr.problem-title-tr.text-center
                                td(style="vertical-align: middle;") 学号
                                td(style="vertical-align: middle;") 姓名
                                td(style="vertical-align: middle;") 过题数
                            if (CountsR!="[]")
                                each countsR in JSON.parse(CountsR)
                                    tr.text-center
                                        td #{countsR.student_id}×××
                                        td #{countsR.nickname}
                                        td #{countsR.ACOUNT}
                            else
                                p 未找到榜单信息！

            .col-md-4
                        h3.text-center 风云榜（赛季冠军）
                        div(style="max-height:400px;overflow:auto;border:1px solid #DDDDDD")
                            table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                                tr.problem-title-tr.text-center
                                    td(style="vertcal-align: middle;") 月份
                                    td(style="vertical-align: middle;") 学号
                                    td(style="vertical-align: middle;") 姓名
                                    td(style="vertical-align: middle;") 过题数
                                //tr.text-center
                                //    td(style="vertical-align: middle;color:#FF0000; font-size:14px;") 2018年度冠军
                                //    td(style="vertical-align: middle;color:#FF0000; font-size:20px;") 1737××××
                                //    td(style="vertical-align: middle;color:#FF0000; font-size:20px;") 田柯宇
                                tr.text-center
                                    td(style="vertical-align: middle;") 2019年1月
                                    td(style="vertical-align: middle;") 17376×××
                                    td(style="vertical-align: middle;") 邱维东
                                    td(style="vertical-align: middle;") 103
                                tr.text-center
                                    td(style="vertical-align: middle;") 2019年2月
                                    td(style="vertical-align: middle;") 17373×××
                                    td(style="vertical-align: middle;") 周凤林
                                    td(style="vertical-align: middle;") 84
                                tr.text-center
                                    td(style="vertical-align: middle;") 2019年3月
                                    td(style="vertical-align: middle;") 18374×××
                                    td(style="vertical-align: middle;") 张韫哲
                                    td(style="vertical-align: middle;") 114
                        p(class="text-right") *系统共实名 #{Presults[0].dataValues.PCOUNT} 人*
        .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-left:13px;")
                p(style="font-weight:bold;") 声明：榜单数据由系统生成，仅供个人学习参考。
        //        p(style="font-weight:bold;") 小O喊你来领奖啦~~~
        //        p ※ 琅琊榜 奖金（人民币,元）：冠军 ￥300，亚军 ￥200，季军 ￥100
        //        p ※ 题解达人(总题解数) 奖金（人民币,元）：冠军 ￥500，亚军 ￥300，季军 ￥200
        //        p ※ 风云榜 奖金（人民币,元）：年度冠军 ￥300，月冠军 ￥100
        //        p ※ 琅琊榜、题解达人(总题解数)、风云榜 上的所有同学均有获奖证书！
        //        p 一切解释权归北航ACM实验室所有
        //        br
        //        p 说明：
        //        p 1. 目前榜单的数据统计时间截止至2017年12月18日0点。
        //        p 2. 一个人如果获得多个奖项，则按奖金额最高项颁发，但仍然颁发多个证书。
        //        p 3. 本次琅琊榜、风云榜奖金由北航ACM训练队前队员、软件学院2007级校友赖景愚先生捐赠，题解达人奖金由北航ACM实验室提供。
        //        p 4. 颁奖典礼将于2017年12月24日17:00-18:00举行，地点：沙河校区实7-6层。请所有获得获奖证书的同学于12月22日中午12:00前发送以下信息至1120695539@qq.com
        //        p 邮件主题：姓名+OJ颁奖 邮件内容：学号、姓名、所获奖项、颁奖典礼能否到场（不能到场原因）
        //        br
