extends ../layout

block title
    - var whichPage = "排行榜"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var level = 0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12

            .col-md-3
                h3.text-center 琅琊榜
                select.form-control
                    option(value = "ALL") 总过题数
                table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                    tr.problem-title-tr.text-center
                        td(style="vertical-align: middle;") 学号
                        td(style="vertical-align: middle;") 姓名
                        td(style="vertical-align: middle;") 过题数
                    tr.text-center
                        td #{Counts[0].creator.dataValues.student_id}
                        td #{Counts[0].creator.dataValues.nickname}
                        td #{Counts[0].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[1].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[1].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[1].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[2].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[2].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[2].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[3].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[3].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[3].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[4].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[4].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[4].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[5].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[5].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[5].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[6].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[6].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[6].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[7].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[7].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[7].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[8].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[8].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[8].dataValues.COUNT}
                    tr.text-center
                        td(style="vertical-align: middle;") #{Counts[9].creator.dataValues.student_id}
                        td(style="vertical-align: middle;") #{Counts[9].creator.dataValues.nickname}
                        td(style="vertical-align: middle;") #{Counts[9].dataValues.COUNT}

               .col-md-3
                    h3.text-center 勤奋榜
                    select.form-control
                       option(value = "R1M") 最近30天过题数
                    table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                        tr.problem-title-tr.text-center
                            td(style="vertical-align: middle;") 学号
                            td(style="vertical-align: middle;") 姓名
                            td(style="vertical-align: middle;") 过题数
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[0].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[0].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[0].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[1].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[1].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[1].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[2].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[2].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[2].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[3].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[3].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[3].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[4].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[4].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[4].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[5].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[5].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[5].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[6].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[6].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[6].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[7].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[7].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[7].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[8].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[8].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[8].dataValues.COUNT}
                        tr.text-center
                            td(style="vertical-align: middle;") #{CountsR[9].creator.dataValues.student_id}
                            td(style="vertical-align: middle;") #{CountsR[9].creator.dataValues.nickname}
                            td(style="vertical-align: middle;") #{CountsR[9].dataValues.COUNT}

                   .col-md-3
                       h3.text-center 题解达人
                       select.form-control(onchange="request_so_searching()",class="soso",id="soresult", name="soresult")
                           option(value = "ALL2") 总提交题解数
                           option(value = "R1M2") 最近30天提交题解数
                       script.
                           function request_so_searching() {
                               var soselected_val = document.getElementById("soresult");
                               if (soselected_val.value == "R1M2") {
                                   document.getElementById("s1td0").innerText = #{ResultsR[0].creator.dataValues.student_id};
                                   document.getElementById("s1td1").innerText = #{ResultsR[1].creator.dataValues.student_id};
                                   document.getElementById("s1td2").innerText = #{ResultsR[2].creator.dataValues.student_id};
                                   document.getElementById("s1td3").innerText = #{ResultsR[3].creator.dataValues.student_id};
                                   document.getElementById("s1td4").innerText = #{ResultsR[4].creator.dataValues.student_id};
                                   document.getElementById("s1td5").innerText = #{ResultsR[5].creator.dataValues.student_id};
                                   document.getElementById("s1td6").innerText = #{ResultsR[6].creator.dataValues.student_id};
                                   document.getElementById("s1td7").innerText = #{ResultsR[7].creator.dataValues.student_id};
                                   document.getElementById("s1td8").innerText = #{ResultsR[8].creator.dataValues.student_id};
                                   document.getElementById("s1td9").innerText = #{ResultsR[9].creator.dataValues.student_id};

                                   document.getElementById("s2td0").innerHTML = "<td>#{ResultsR[0].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td1").innerHTML = "<td>#{ResultsR[1].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td2").innerHTML = "<td>#{ResultsR[2].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td3").innerHTML = "<td>#{ResultsR[3].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td4").innerHTML = "<td>#{ResultsR[4].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td5").innerHTML = "<td>#{ResultsR[5].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td6").innerHTML = "<td>#{ResultsR[6].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td7").innerHTML = "<td>#{ResultsR[7].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td8").innerHTML = "<td>#{ResultsR[8].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td9").innerHTML = "<td>#{ResultsR[9].creator.dataValues.nickname}</td>";

                                   document.getElementById("s3td0").innerText = #{ResultsR[0].dataValues.COUNT};
                                   document.getElementById("s3td1").innerText = #{ResultsR[1].dataValues.COUNT};
                                   document.getElementById("s3td2").innerText = #{ResultsR[2].dataValues.COUNT};
                                   document.getElementById("s3td3").innerText = #{ResultsR[3].dataValues.COUNT};
                                   document.getElementById("s3td4").innerText = #{ResultsR[4].dataValues.COUNT};
                                   document.getElementById("s3td5").innerText = #{ResultsR[5].dataValues.COUNT};
                                   document.getElementById("s3td6").innerText = #{ResultsR[6].dataValues.COUNT};
                                   document.getElementById("s3td7").innerText = #{ResultsR[7].dataValues.COUNT};
                                   document.getElementById("s3td8").innerText = #{ResultsR[8].dataValues.COUNT};
                                   document.getElementById("s3td9").innerText = #{ResultsR[9].dataValues.COUNT};
                               }
                               else if (soselected_val.value == "ALL2") {
                                   document.getElementById("s1td0").innerText = #{Results[0].creator.dataValues.student_id};
                                   document.getElementById("s1td1").innerText = #{Results[1].creator.dataValues.student_id};
                                   document.getElementById("s1td2").innerText = #{Results[2].creator.dataValues.student_id};
                                   document.getElementById("s1td3").innerText = #{Results[3].creator.dataValues.student_id};
                                   document.getElementById("s1td4").innerText = #{Results[4].creator.dataValues.student_id};
                                   document.getElementById("s1td5").innerText = #{Results[5].creator.dataValues.student_id};
                                   document.getElementById("s1td6").innerText = #{Results[6].creator.dataValues.student_id};
                                   document.getElementById("s1td7").innerText = #{Results[7].creator.dataValues.student_id};
                                   document.getElementById("s1td8").innerText = #{Results[8].creator.dataValues.student_id};
                                   document.getElementById("s1td9").innerText = #{Results[9].creator.dataValues.student_id};

                                   document.getElementById("s2td0").innerHTML = "<td>#{Results[0].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td1").innerHTML = "<td>#{Results[1].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td2").innerHTML = "<td>#{Results[2].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td3").innerHTML = "<td>#{Results[3].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td4").innerHTML = "<td>#{Results[4].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td5").innerHTML = "<td>#{Results[5].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td6").innerHTML = "<td>#{Results[6].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td7").innerHTML = "<td>#{Results[7].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td8").innerHTML = "<td>#{Results[8].creator.dataValues.nickname}</td>";
                                   document.getElementById("s2td9").innerHTML = "<td>#{Results[9].creator.dataValues.nickname}</td>";

                                   document.getElementById("s3td0").innerText = #{Results[0].dataValues.COUNT};
                                   document.getElementById("s3td1").innerText = #{Results[1].dataValues.COUNT};
                                   document.getElementById("s3td2").innerText = #{Results[2].dataValues.COUNT};
                                   document.getElementById("s3td3").innerText = #{Results[3].dataValues.COUNT};
                                   document.getElementById("s3td4").innerText = #{Results[4].dataValues.COUNT};
                                   document.getElementById("s3td5").innerText = #{Results[5].dataValues.COUNT};
                                   document.getElementById("s3td6").innerText = #{Results[6].dataValues.COUNT};
                                   document.getElementById("s3td7").innerText = #{Results[7].dataValues.COUNT};
                                   document.getElementById("s3td8").innerText = #{Results[8].dataValues.COUNT};
                                   document.getElementById("s3td9").innerText = #{Results[9].dataValues.COUNT};
                               }

                           }
                       table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                           tr.problem-title-tr.text-center
                               td(style="vertical-align: middle;") 学号
                               td(style="vertical-align: middle;") 姓名
                               td(style="vertical-align: middle;") 交题解数
                           tr.text-center
                               td(id="s1td0",style="vertical-align: middle;") #{Results[0].creator.dataValues.student_id}
                               td(id="s2td0",style="vertical-align: middle;") #{Results[0].creator.dataValues.nickname}
                               td(id="s3td0",style="vertical-align: middle;") #{Results[0].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td1",style="vertical-align: middle;") #{Results[1].creator.dataValues.student_id}
                               td(id="s2td1",style="vertical-align: middle;") #{Results[1].creator.dataValues.nickname}
                               td(id="s3td1",style="vertical-align: middle;") #{Results[1].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td2",style="vertical-align: middle;") #{Results[2].creator.dataValues.student_id}
                               td(id="s2td2",style="vertical-align: middle;") #{Results[2].creator.dataValues.nickname}
                               td(id="s3td2",style="vertical-align: middle;") #{Results[2].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td3",style="vertical-align: middle;") #{Results[3].creator.dataValues.student_id}
                               td(id="s2td3",style="vertical-align: middle;") #{Results[3].creator.dataValues.nickname}
                               td(id="s3td3",style="vertical-align: middle;") #{Results[3].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td4",style="vertical-align: middle;") #{Results[4].creator.dataValues.student_id}
                               td(id="s2td4",style="vertical-align: middle;") #{Results[4].creator.dataValues.nickname}
                               td(id="s3td4",style="vertical-align: middle;") #{Results[4].dataValues.COUNT}

                           tr.text-center
                               td(id="s1td5",style="vertical-align: middle;") #{Results[5].creator.dataValues.student_id}
                               td(id="s2td5",style="vertical-align: middle;") #{Results[5].creator.dataValues.nickname}
                               td(id="s3td5",style="vertical-align: middle;") #{Results[5].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td6",style="vertical-align: middle;") #{Results[6].creator.dataValues.student_id}
                               td(id="s2td6",style="vertical-align: middle;") #{Results[6].creator.dataValues.nickname}
                               td(id="s3td6",style="vertical-align: middle;") #{Results[6].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td7",style="vertical-align: middle;") #{Results[7].creator.dataValues.student_id}
                               td(id="s2td7",style="vertical-align: middle;") #{Results[7].creator.dataValues.nickname}
                               td(id="s3td7",style="vertical-align: middle;") #{Results[7].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td8",style="vertical-align: middle;") #{Results[8].creator.dataValues.student_id}
                               td(id="s2td8",style="vertical-align: middle;") #{Results[8].creator.dataValues.nickname}
                               td(id="s3td8",style="vertical-align: middle;") #{Results[8].dataValues.COUNT}
                           tr.text-center
                               td(id="s1td9",style="vertical-align: middle;") #{Results[9].creator.dataValues.student_id}
                               td(id="s2td9",style="vertical-align: middle;") #{Results[9].creator.dataValues.nickname}
                               td(id="s3td9",style="vertical-align: middle;") #{Results[9].dataValues.COUNT}


                   .col-md-3
                            h3.text-center 冠军榜
                            table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;font-weight: normal;font-size: medium;font-variant: normal;font-style: normal;float:right;")
                                tr.problem-title-tr.text-center
                                    td(style="vertical-align: middle;") 月份
                                    td(style="vertical-align: middle;") 学号
                                    td(style="vertical-align: middle;") 姓名
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年9月
                                    td(style="vertical-align: middle;") #{Champion1[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion1[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年10月
                                    td(style="vertical-align: middle;") #{Champion2[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion2[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年11月
                                    td(style="vertical-align: middle;") #{Champion3[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion3[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2016年12月
                                    td(style="vertical-align: middle;") #{Champion4[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion4[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年1月
                                    td(style="vertical-align: middle;") #{Champion5[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion5[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年2月
                                    td(style="vertical-align: middle;") #{Champion6[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion6[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年3月
                                    td(style="vertical-align: middle;") #{Champion7[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion7[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年4月
                                    td(style="vertical-align: middle;") #{Champion8[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion8[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年5月
                                    td(style="vertical-align: middle;") #{Champion9[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion9[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年6月
                                    td(style="vertical-align: middle;") #{Champion10[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion10[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年7月
                                    td(style="vertical-align: middle;") #{Champion11[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion11[0].creator.dataValues.nickname}
                                tr.text-center
                                    td(style="vertical-align: middle;") 2017年8月
                                    td(style="vertical-align: middle;") #{Champion12[0].creator.dataValues.student_id}
                                    td(style="vertical-align: middle;") #{Champion12[0].creator.dataValues.nickname}



