//
   Created by heavenduke on 15-5-18.

    user
        -email 用户名
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介
        -student_id 学号

extends ../layout

block title
    - var whichpage = "个人信息"
    title #{whichpage}

block content
    .col-lg-2
        include ./user.jade
    .col-lg-8
        h3 个人信息
        table.table.table-striped
            tr
                td 昵称
                td #{target.nickname}
            tr
                td 学校
                td #{target.school}
            tr
                td 专业
                td #{target.college}
            tr
                td 简介
                td #{target.description}
            tr
                td 学号
                td #{target.student_id}
    .col-lg-2