//
   Created by heavenduke on 15-5-18.

    user
        -email 用户名
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介
        -student_id 学号

extends ../layout

block content
    .col-lg-2
        include ./user.jade
    .col-lg-8
        h3 个人信息
        table(class = "table table-striped")
            tr
                td 昵称
                td #{user.nickname}
            tr
                td 学校
                td #{user.school}
            tr
                td 专业
                td #{user.college}
            tr
                td 简介
                td #{user.description}
            tr
                td 学号
                td #{user.student_id}
    .col-lg-2