//-
   Created by heavenduke on 15-5-18.

    user
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介

    表单
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介

extends ../layout

block title
    - var whichPage = "修改信息"
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./user.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3 修改信息
        form(method='post', id="form").containing
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="nickname")  昵称：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="input", name='nickname', id="nickname", value=target.nickname)
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="school")  学校：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        select.form-control(type="input", name='school', id="school", value=target.school)
                            option(value="北京航空航天大学") 北京航空航天大学
                            option(value="北京邮电大学") 北京邮电大学
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="college")  专业：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        select.form-control(type="input", name='college', id="college", value=target.college)
                            option(value="软件学院") 软件学院
                            option(value="计算机学院") 计算机学院
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        label.control-label(for="description")  简介：
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        textarea.form-control(type="input", name='description', id="description", value=target.description, style="resize: none;max-height: 300px;width: 100%;") #{target.description}
            button.btn.btn-default(type="button", onclick="checkInformation()") 确认
            script.
                function checkInformation(){
                    if($("#nickname").val().length >= 30){
                        logoAlert("用户昵称过长！");
                    }else{
                        $("#form").submit();
                    }
                }
    .col-lg-2.col-md-2.col-sm-2.col-xs-12