//-
   Created by heavenduke on 15-5-18.

    user
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介

    表单
        -nickname 昵称
        -shoool 学校
        -college 学院
        -description 个人简介

extends ../layout

block title
    - var whichPage = "修改信息"
    - var lock = false
    title #{whichPage}

block content
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include ./user.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        h3(style='color: #0274af; font-weight: bold;') 修改信息
        form(method='post', id="form")
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        span.glyphicon.glyphicon-credit-card(aria-hidden='true', style='margin-right: 10px;color: #0274af;')
                        label.form-control-static(for='nickname', style='color: #333;')  昵    称: 
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="input", name='nickname', id="nickname", value=target.nickname readonly=lock)
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        span.glyphicon.glyphicon-user(aria-hidden='true', style='margin-right: 10px;color: #0274af;')
                        label.form-control-static(for='student_id', style='color: #333;')  学    号: 
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        input.form-control(type="input", name='student_id', id="student_id", value=target.student_id, readonly=lock)
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        span.glyphicon.glyphicon-map-marker(aria-hidden='true', style='margin-right: 10px;color: #0274af;')
                        label.form-control-static(for='student_id', style='color: #333;')  学    校: 
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        select.form-control(type="input", name='school', id="school", value=target.school)
                            option(value='-----') 请选择
                            option(value='北京航空航天大学') 北京航空航天大学
                            option(value='北京大学') 北京大学
                            option(value='清华大学') 清华大学
                            option(value='北京化工大学') 北京化工大学
                            option(value='北京交通大学') 北京交通大学
                            option(value='北京科技大学') 北京科技大学
                            option(value='北京理工大学') 北京理工大学
                            option(value='北京师范大学') 北京师范大学
                            option(value='北京邮电大学') 北京邮电大学
                            option(value='集训队') 集训队
                            option(value='其他邀请') 其他邀请
                            option(value='中国传媒大学') 中国传媒大学
                            option(value='中国地质大学') 中国地质大学
                        script.
                            var sjl=document.getElementById("school");
                            for(var i=0;i<sjl.options.length;i++)
                                if(sjl.options[i].value == "#{target.school}")
                                    sjl.options[i].selected = true;
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        span.glyphicon.glyphicon-book(aria-hidden='true', style='margin-right: 10px;color: #0274af;')
                        label.form-control-static(for='student_id', style='color: #333;')  专    业: 
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        select.form-control(type="input", name='college', id="college", value=target.college)
                            option(value='-----') 请选择
                            option(value='材料科学与工程学院') 材料科学与工程学院
                            option(value='电子信息工程学院') 电子信息工程学院
                            option(value='自动化科学与电气工程学院') 自动化科学与电气工程学院
                            option(value='能源与动力工程学院') 能源与动力工程学院
                            option(value='航空科学与工程学院') 航空科学与工程学院
                            option(value='计算机学院') 计算机学院
                            option(value='机械工程及自动化学院') 机械工程及自动化学院
                            option(value='经济管理学院') 经济管理学院
                            option(value='数学与系统科学学院') 数学与系统科学学院
                            option(value='生物与医学工程学院') 生物与医学工程学院
                            option(value='人文社会科学学院（公共管理学院）') 人文社会科学学院（公共管理学院）
                            option(value='外国语学院') 外国语学院
                            option(value='交通科学与工程学院') 交通科学与工程学院
                            option(value='可靠性与系统工程学院') 可靠性与系统工程学院
                            option(value='宇航学院') 宇航学院
                            option(value='飞行学院') 飞行学院
                            option(value='仪器科学与光电工程学院') 仪器科学与光电工程学院
                            option(value='物理科学与核能工程学院') 物理科学与核能工程学院
                            option(value='法学院') 法学院
                            option(value='软件学院') 软件学院
                            option(value='高等工程学院') 高等工程学院
                            option(value='中法工程师学院') 中法工程师学院
                            option(value='国际学院') 国际学院
                            option(value='新媒体艺术与设计学院') 新媒体艺术与设计学院
                            option(value='化学与环境学院') 化学与环境学院
                            option(value='人文与社会科学高等研究院') 人文与社会科学高等研究院
                        script.
                            var sjl2=document.getElementById("college");
                            for(var i=0;i<sjl2.options.length;i++)
                                if(sjl2.options[i].value == "#{target.college}")
                                    sjl2.options[i].selected = true;
            .form-horizontal
                .form-group
                    .col-lg-2.col-md-2.col-sm-2.col-xs-12
                        span.glyphicon.glyphicon-comment(aria-hidden='true', style='margin-right: 10px;color: #0274af;')
                        label.form-control-static(for='student_id', style='color: #333;')  简    介: 
                    .col-lg-10.col-md-10.col-sm-10.col-xs-12
                        textarea.form-control(type="input", name='description', id="description", value=target.description, style="resize: none;max-height: 300px;width: 100%;") #{target.description}
            .btn.btn-default.loginbtn.btnstyle(type="button", onclick="checkInformation()") 确认
            script.
                function checkInformation(){
                    if($("#nickname").val().length >= 30){
                        logoAlert("用户昵称过长！");
                    }else{
                        $("#form").submit();
                    }
                }
    .col-lg-2.col-md-2.col-sm-2.col-xs-12