//
   Created by zp on 15-6-5.
if(contest)
    - if(contest.start_time <= (new Date()))
        .form-horizontal.list-group
            a(class="list-group-item normal-color", id="indexPage", href="./index") 赛事信息
            a(class="list-group-item normal-color", id="problemPage", href="./problem") 比赛题目
            a(class="list-group-item normal-color", id="rankPage", href="./rank") 比赛排名
            a(class="list-group-item normal-color", id="submissionPage", href="./submission") 提交记录
            a(class="list-group-item normal-color", id="issuePage", href="./index") 比赛公告
            script.
                if("#{whichPage}"=="赛事信息")
                    $("#indexPage").attr("class","list-group-item change-color");
                else if("#{whichPage}"=="比赛题目信息")
                    $("#problemPage").attr("class","list-group-item change-color");
                else if("#{whichPage}"=="比赛排名")
                    $("#rankPage").attr("class","list-group-item change-color");
                else if("#{whichPage}"=="比赛提交记录")
                    $("#submissionPage").attr("class","list-group-item change-color");
                else if("#{whichPage}"=="修改密码")
                    $("#issuePage").attr("class","list-group-item change-color");
            - var dateOfTime = new Date();
            - var endTime = contest.end_time - dateOfTime;
            - var endSeconds = (endTime - endTime % 1000) / 1000 % 60
            - var endMinutes = ((endTime - endTime % 1000) / 1000 - endSeconds) / 60 % 60
            - var endHours = ((endTime - endTime % 1000) / 1000 - endSeconds - endMinutes * 60) / 3600
            label 服务器当前时间
            br
            label #{dateOfTime.getFullYear()}-#{dateOfTime.getMonth()+1}-#{dateOfTime.getDate()} #{dateOfTime.getHours()}:#{dateOfTime.getMinutes()}:#{dateOfTime.getSeconds()}
            br
            label 距比赛结束还有
            br
            label #{endHours}:#{endMinutes}:#{endSeconds}
            br