//
   Created by lmy on 15-5-30.
extends ../layout
block title
    - var whichPage = "赛事信息"
    title #{whichPage}
block content
    .col-lg-2
        .form-horizontal
            a(href="./index")
                label.control-label
                    h3 #{contest.title}
        .form-horizontal
            a(class="list-group-item normal-color", href="./index") 赛事信息
            a(class="list-group-item normal-color", href="./problem") 比赛题目
            a(class="list-group-item normal-color", href="./index") 比赛排名
            a(class="list-group-item normal-color", href="./submission") 提交记录
            a(class="list-group-item normal-color", href="./index") 比赛公告
        //table.table.table-striped
            tr
                td 比赛名称
            tr
                td
                    a(href="index")= contest.title
            tr
                td 比赛创建者
            tr
                td
                    a(href="/user/#{contest.creator.id}")= contest.creator.nickname
            tr
                td 比赛简介
            tr
                td #{contest.description}
            tr
                td 比赛题目
            tr
                td
                    a(href="./problem") 比赛题目
    .col-lg-8
    .col-lg-2