//
   Created by lmy on 15-5-29.
extends ../layout
block title
    - var whichPage = "赛事列表"
    title #{whichPage}
block content
    //.col-lg-2
    //.col-lg-8
    .col-lg-12
        h3 所有赛事
        table(class = "table table-striped")
            tr
                td 赛事ID
                td 赛事名称
                td 赛事开始时间
                td 赛事结束时间
            - for (var i = 0 ; i < contests.length ; ++i)
                - var contest = contests[i];
                tr
                    td #{contest.id}
                    td
                        a(href= "#{contest.id}") #{contest.title}
                    td #{contest.start_time.getFullYear()}-#{contest.start_time.getMonth()}-#{contest.start_time.getDay()} #{contest.start_time.getHours()}:#{contest.start_time.getMinutes()}:#{contest.start_time.getSeconds()}
                    td #{contest.end_time.getFullYear()}-#{contest.end_time.getMonth()}-#{contest.end_time.getDay()} #{contest.end_time.getHours()}:#{contest.end_time.getMinutes()}:#{contest.end_time.getSeconds()}
    //.col-lg-2