//
   Created by lmy on 15-5-29.
extends ../layout
block title
    - var whichPage = "赛事列表"
    title #{whichPage}
block content
    - var oddEvenTable = "odd"
    - var colorOfTable = "red"
    .col-lg-12
        h3 所有赛事
        table.table.table-condensed.table-center
            tr.text-center
                td 比赛ID
                td 比赛状态
                td 比赛标题
                td 所属小组
                td 开始时间
                td 结束时间
            if(contests)
                - for (var i = 0 ; i < contests.length ; ++i)
                    - var contest = contests[i]
                    tr.text-center(id = "tr" + i)
                        - if(i % 2 == 1)
                            - oddEvenTable = "odd"
                        - else
                            - oddEvenTable = "even"
                        - if(contest.start_time > (new Date()))
                            - colorOfTable = "blue"
                            - contestStatus = "即将开始"
                        - else if(contest.start_time <= (new Date()) && contest.end_time > (new Date()))
                            - colorOfTable = "red"
                            - contestStatus = "正在进行中…"
                        - else
                            - colorOfTable = "white"
                            - contestStatus = "已结束"
                        td #{contest.id}
                        td
                            label(id = "td" + i) #{contestStatus}
                        td
                            a(href= "/contest/" + contest.id + "/index") #{contest.title}
                        td
                            a(href= "../group/" + contest.group.id + "/index") #{contest.group.name}
                        td #{contest.start_time.getFullYear()}-#{contest.start_time.getMonth()+1}-#{contest.start_time.getDate()} #{contest.start_time.getHours()}:#{contest.start_time.getMinutes()}:#{contest.start_time.getSeconds()}
                        td #{contest.end_time.getFullYear()}-#{contest.end_time.getMonth()+1}-#{contest.end_time.getDate()} #{contest.end_time.getHours()}:#{contest.end_time.getMinutes()}:#{contest.end_time.getSeconds()}
                        script.
                            $("#tr#{i}").attr("class", "#{oddEvenTable}whitetr");
                            $("#td#{i}").attr("class", "#{colorOfTable}td");
    //.col-lg-2
    .col-lg-12.col-md-12.col-sm-12
        - if(!pageLimit)
            - pageLimit = 15;
        - if(!page)
            - page = 0;
        - var numberOfPage = (contestCount - contestCount % pageLimit) / pageLimit + 1;
        - var nextPage = page - 0 + 1;
        - var prevPage = page - 1;
        - if(page > 1)
            a.button.btn.btn-default(href="./index?page=" + prevPage) 上一页
        - else
            a.button.btn.btn-default(href="./index?page=" + prevPage, disabled="disabled") 上一页
        - for(var i = 1 ; i <= numberOfPage ; ++i)
            a.button.btn.btn-default(href="./index?page=" + i, id="button" + i) #{i}
        - if(page < numberOfPage)
            a.button.btn.btn-default(href="./index?page=" + nextPage) 下一页
        - else
            a.button.btn.btn-default(href="./index?page=" + nextPage, disabled="disabled") 下一页
        script $("#button#{page}").attr("class", "button btn btn-success");