//
   Created by lmy on 15-5-29.
extends ../layout
block title
    - var whichPage = "赛事列表"
    title #{whichPage}
block content
    //.col-lg-2
    //.col-lg-8
    .col-lg-12
        h3 所有赛事
        table.table.table-striped.containing
            tr.text-center
                td 比赛ID
                td 比赛状态
                td 比赛标题
                td 开始时间
                td 结束时间
            if(contests)
                - for (var i = 0 ; i < contests.length ; ++i)
                    - var contest = contests[i]
                    tr.text-center(id = "tr#{i}")
                        - if(i % 2 == 1)
                            - oddEvenTable = "odd"
                        - else
                            - oddEvenTable = "even"
                        - if(contest.start_time > (new Date()))
                            - colorOfTable = "blue"
                            - contestStatus = "即将开始"
                        - else if(contest.start_time <= (new Date()) && contest.end_time > (new Date()))
                            - colorOfTable = "red"
                            - contestStatus = "正在进行中…"
                        - else
                            - colorOfTable = "white"
                            - contestStatus = "已结束"
                        td #{contest.id}
                        td(id = "td#{i}")
                            p #{contestStatus}
                        td
                            a(href= "/contest/#{contest.id}/index") #{contest.title}
                        td #{contest.start_time.getFullYear()}-#{contest.start_time.getMonth()+1}-#{contest.start_time.getDate()} #{contest.start_time.getHours()}:#{contest.start_time.getMinutes()}:#{contest.start_time.getSeconds()}
                        td #{contest.end_time.getFullYear()}-#{contest.end_time.getMonth()+1}-#{contest.end_time.getDate()} #{contest.end_time.getHours()}:#{contest.end_time.getMinutes()}:#{contest.end_time.getSeconds()}
                        script.
                            //$("#tr#{i}").attr("class", "#{oddEvenTable}#{colorOfTable}tr");
                            $("#td#{i}").attr("class", "#{colorOfTable}td");
    //.col-lg-2