//
   Created by lmy on 15-5-30.

extends ../layout
block title
   - var whichPage = "赛事信息"
   title #{whichPage}
block content
   .col-lg-2
      table.table.table-striped
         tr
            td 比赛名称
         tr
            td
               a(href="index")= contest.title
         tr
            td 比赛创建者
         tr
            td
               a(href="/user/#{contest.creator.id}")= contest.creator.nickname
         tr
            td 比赛简介
         tr
            td #{contest.description}
   .col-lg-8
      table(class = "table table-striped")
         tr
            td 题目编号
            td 题目标题
            td 题目分数
         - for (var i = 0 ; i < problems.length ; ++i)
            - var problem = problems[i];
            tr
               td #{problem.contest_problem_list.order}
               td
                  a(href= "./problem/"+problem.contest_problem_list.order) #{problem.title}
               td #{problem.contest_problem_list.score}
   .col-lg-2