//
  Created by lmy on 15-5-30.
extends ../layout
block title
    - var whichPage = "赛事信息"
    title #{whichPage}
block content
    include porblem-list.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        h3 所有题目
        table(class = "table table-striped")
            tr
                td 题目编号
                td 题目标题
                td 题目分数
            - for (var i = 0 ; i < problems.length ; ++i)
                - var problem = problems[i];
                tr
                    td #{String.fromCharCode(problem.contest_problem_list.order + 65)}
                    td
                        a(href= "./problem/#{String.fromCharCode(problem.contest_problem_list.order + 65)}") #{problem.title}
                    td #{problem.contest_problem_list.score}
    .col-lg-2