//
  Created by lmy on 15-5-30.
extends ../layout
block title
    - var whichPage = "比赛题目信息"
    title #{whichPage}
block content
    //include porblem-list.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        h3 所有题目
        table(class = "table table-striped")
            tr.text-center
                - if(user)
                    td 状态
                td 题目编号
                td 题目标题
                td 题目分数
            - for (var i = 0 ; i < problems.length ; ++i)
                - var problem = problems[i];
                tr.text-center
                    - if(user)
                        - if(problem.accepted + problem.tried == 2)
                            td.green-td
                                span.glyphicon.glyphicon-ok(aria-hidden="true")
                        - else if(problem.accepted + problem.tried == 1)
                            td.yellow-td
                                span.glyphicon.glyphicon-warning-sign(aria-hidden="true")
                        - else
                            td
                    td #{problem.contest_problem_list.order}
                    td
                        a(href= "./problem/#{problem.contest_problem_list.order}/index") #{problem.title}
                    td #{problem.contest_problem_list.score}
    .col-lg-2