//-
   Created by 明阳 on 2015/6/18.

extends ../layout
block title
    - var whichPage = "提问"
    title #{whichPage}
block content
    include contest-title.jade
    .col-lg-2.col-md-2.col-sm-2.col-xs-12
        include contest.jade
        include time.jade
    .col-lg-8.col-md-8.col-sm-8.col-xs-12
        table.table.table-condensed.table-center(style="border:1px solid #DDDDDD;")
            tr
                form(method='post')
                    td
                        select(type='input' name='order')
                            - for (var i = 0 ; i < contest.problems.length ; ++i)
                                option(value=contest.problems[i].contest_problem_list.order) #{contest.problems[i].contest_problem_list.order}

                    td
                        textarea(type='input', style="resize: none;max-height: 300px;width: 100%;min-height: 100px;", name='content')
                    td
                        button 提交
            tr
                td 题目编号
                td 提问
                td 提问者
            tr

            - for (var i = 0 ; i < issues.length ; ++i)
                - var issue = issues[i]
                tr
                    td #{issue.problem_id}
                    td #{issue.content}
                    td
                        a(href='/user/'+issue.creator.id) #{issue.creator.nickname}
    .col-lg-2.col-md-2.col-sm-2.col-xs-12