//
    Created by lmy on 15-6-7.

extends ../layout
block title
    - var whichPage = "比赛排名"
    title #{whichPage}

block content
    include contest-title.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        h3 比赛排名
        table(class = "table table-striped").containing
            tr.text-center
                td 排名
                td 用户
                td 得分
                td 罚时
                if(contest.problems)
                    - for (var i = 0 ; i < contest.problems.length ; ++i)
                        - var problem = contest.problems[i];
                        td
                            a(href="problem/"+problem.contest_problem_list.order) #{problem.contest_problem_list.order}
            if(rank)
                - var seconds = 0
                - var minutes = 0
                - var hours = 0
                - var oddeventable = "odd"
                - var coloroftable = "red"
                - for(var j = 0 ; j < rank.length ; ++j)
                    tr.text-center
                        td #{j+1}
                        td #{rank[j].user.nickname}
                        td #{rank[j].score}
                        - seconds = (rank[j].penalty - rank[j].penalty % 1000) / 1000 % 60
                        - minutes = ((rank[j].penalty - rank[j].penalty % 1000) / 1000 - seconds) / 60 % 60
                        - hours = ((rank[j].penalty - rank[j].penalty % 1000) / 1000 - seconds - minutes * 60) / 3600
                        - if(j % 2 == 1)
                            - oddeventable = "odd"
                        - else
                            - oddeventable = "even"
                        td #{hours}:#{minutes}:#{seconds}
                            //#{new Date(rank[j].penalty).getDay()*24+new Date(rank[j].penalty).getHours()}:#{new Date(rank[j].penalty).getMinutes()}:#{new Date(rank[j].penalty).getSeconds()}
                        - for(var k = 0 ; k < contest.problems.length ; ++k)
                            - var p = contest.problems[k];
                            - var order = p.contest_problem_list.order;
                            - var times = rank[j].detail[order].accepted_time;
                            - seconds = (times - times % 1000) / 1000 % 60
                            - minutes = ((times - times % 1000) / 1000 - seconds) / 60 % 60
                            - hours = ((times - times % 1000) / 1000 - seconds - minutes * 60) / 3600
                            - if(rank[j].detail[order] && rank[j].detail[order].wrong_count != 0)
                                td(id="td#{j}#{k}") #{hours}:#{minutes}:#{seconds} (-#{rank[j].detail[order].wrong_count})
                            - else if(rank[j].detail[order])
                                td(id="td#{j}#{k}") #{hours}:#{minutes}:#{seconds}
                            - else
                                td
                            - if(!rank[j].detail[order])
                                - coloroftable = "white"
                            - else if(rank[j].detail[order].result == "AC")
                                - coloroftable = "green"
                            - else
                                - coloroftable = "red"
                            script $("#td#{j}#{k}").attr("class","#{oddeventable}#{coloroftable}td");

    .col-lg-2