//
    Created by lmy on 15-6-7.

extends ../layout
block title
    - var whichPage = "比赛排名"
    title #{whichPage}
block content
    include contest-title.jade
    .col-lg-2
        include contest.jade
    .col-lg-8
        h3 比赛排名
        table(class = "table table-striped")
            tr.text-center
                td 排名
                td 用户
                td 得分
                td 罚时
                if(contest.problems)
                    - for (var i = 0 ; i < contest.problems.length ; ++i)
                        - var problem = contest.problems[i];
                        td
                            a(href="problem/"+problem.contest_problem_list.order) #{problem.contest_problem_list.order}
            if(rank)
                - for(var j = 0 ; j < rank.length ; ++j)
                    tr.text-center
                        td #{j+1}
                        td #{rank[j].user.nickname}
                        td #{rank[j].score}
                        td #{new Date(rank[j].penalty).getMinutes()}
                        - for(var k = 0 ; k < contest.problems.length ; ++k)
                            - var p = contest.problems[k];
                            - var order = p.contest_problem_list.order;
                            - if(rank[j].detail[order])
                                td #{rank[j].detail[order].result}(#{rank[j].detail[order].wrong_count})
                            - else
                                td
    .col-lg-2