//
   Created by zp on 15-6-5.
extends ../layout
block title
    - var whichPage = "评测记录"
    if(contest)
        - var whichPage = "比赛提交记录"
    title #{whichPage}
    link(rel='stylesheet', href='/stylesheets/submission.css')

block content
    include contest-title.jade
    - var oddEvenTable = "odd"
    - var colorOfTable = "red"
    - var changeSubmissionResult = {AC : "Accepted", WA : "Wrong Answer", WT : "Waiting", JG : "Running", TLE : "Time Limit Exceed", MLE : "Memory Limit Exceed", RE : "Runtime Error", CE : "Compile Error", PE : "Presentation Error"}
    .col-lg-2.col-md-2.col-sm-2
        include contest.jade
    .col-lg-8.col-md-8.col-sm-8
        h3 比赛所有提交记录
        table.table.table-center
            tr
                td 序号
                td 结果
                td 语言
                td 运行时间
                td 运行内存
                td 代码长度
                td 提交时间
            - for (var i = 0 ;i < submissions.length ; i++)
                tr(id = "tr#{i}")
                    td #{submissions[i].id}
                    td(class = "oddtd", id = "td#{i}") #{changeSubmissionResult[submissions[i].result]}
                    td
                        a(href='/submission/' + submissions[i].id) #{submissions[i].lang}
                    td #{submissions[i].time_cost}
                    td #{submissions[i].memory_cost}
                    td 需要代码长度
                    td #{submissions[i].created_at.getFullYear()}-#{submissions[i].created_at.getMonth()}-#{submissions[i].created_at.getDay()} #{submissions[i].created_at.getHours()}:#{submissions[i].created_at.getMinutes()}:#{submissions[i].created_at.getSeconds()}
                    - if(i % 2 == 1)
                        - oddEvenTable = "odd"
                    - else
                        - oddEvenTable = "even"
                    - if(submissions[i].result == "AC")
                        - colorOfTable = "blue"
                    - else if(submissions[i].result == "WT" || submissions[i].result == "JG")
                        - colorOfTable = "green"
                    - else
                        - colorOfTable = "red"
                    script.
                        $("#tr#{i}").attr("class", "#{oddEvenTable}#{colorOfTable}tr");
                        $("#td#{i}").attr("class", "#{colorOfTable}td");